section#page-hero.page-hero
    .page-hero__container
        - const softPage = true;
        include ../_breadcrumbs

        .page-hero__content
            h1.main-title.page-hero__title Лицензионное программное обеспечение
            p.main-subtitle.page-hero__text Подбираем, поставляем, внедряем и&nbsp;оказываем техническую поддержку
            
            nav.hero__nav.nav-hero.page-hero__nav
                ul.nav-hero__list
                    li.nav-hero__item
                        a(href="#offer").nav-hero__link Наше предложение
                    li.nav-hero__item
                        a(href="#recomendation").nav-hero__link Рекомендации             
                    li.nav-hero__item
                        a(href="#soft-types").nav-hero__link Виды ПО              
                    li.nav-hero__item
                        a(href="#soft-why").nav-hero__link Зачем лицензия
                    li.nav-hero__item
                        a(href="#consultation").nav-hero__link Консультация

        .page-hero__softs.softs-grid

            form(action="#", method="post").select-page__form
                .select.page-hero__select
                    .select__title.open-select
                        span.current-value(data-current="") Направления
                        include ../icons/_spoiler

                    .select__hidden-block
                        ul.select__list
                            li.select__item._selected(data-value="Все", data-category="0") Все
                            li.select__item(data-value="Операционные системы", data-category="1") Операционные системы
                            li.select__item(data-value="Информационная безопасность", data-category="2") Информационная безопасность
                            li.select__item(data-value="Офисные программы", data-category="3") Офисные программы

            ul.softs-grid__list.filter-list 
                li.softs-grid__item(data-category="1")
                    a(href="").softs-grid__link Sharx DC
                li.softs-grid__item(data-category="1")
                    a(href="").softs-grid__link «РУСТЭК»
                li.softs-grid__item(data-category="1")
                    a(href="#").softs-grid__link «Росплатформа»
                li.softs-grid__item(data-category="1")
                    a(href="#").softs-grid__link «Киберпротект»
                li.softs-grid__item(data-category="1")
                    a(href="#").softs-grid__link Positive Technologies
                li.softs-grid__item(data-category="1")
                    a(href="#").softs-grid__link Content AI
                li.softs-grid__item(data-category="1")
                    a(href="#").softs-grid__link «МойОфис»
                li.softs-grid__item(data-category="2")
                    a(href="#").softs-grid__link «СёрчИнформ»
                li.softs-grid__item(data-category="2")
                    a(href="#").softs-grid__link «Солар»
                li.softs-grid__item(data-category="2")
                    a(href="#").softs-grid__link «Атом Безопасность»
                li.softs-grid__item(data-category="2")
                    a(href="#").softs-grid__link «Код Безопасности»
                li.softs-grid__item(data-category="2")
                    a(href="#").softs-grid__link «РТ-Информационная безопасность»
                li.softs-grid__item(data-category="2")
                    a(href="#").softs-grid__link «Смарт-Софт»
                li.softs-grid__item(data-category="2")
                    a(href="#").softs-grid__link Makves
                li.softs-grid__item(data-category="2")
                    a(href="#").softs-grid__link «1С»
                li.softs-grid__item(data-category="2")
                    a(href="#").softs-grid__link «Стахановец»
                li.softs-grid__item(data-category="3")
                    a(href="#").softs-grid__link «Лаборатория Касперского»
                li.softs-grid__item(data-category="3")
                    a(href="#").softs-grid__link PROMT
                li.softs-grid__item(data-category="3")
                    a(href="#").softs-grid__link Astra Linux
                li.softs-grid__item(data-category="3")
                    a(href="#").softs-grid__link «РТ-Информационная безопасность»
                li.softs-grid__item(data-category="3")
                    a(href="#").softs-grid__link «Аврора»
                li.softs-grid__item(data-category="3")
                    a(href="#").softs-grid__link «Альт»
                li.softs-grid__item(data-category="3")
                    a(href="#").softs-grid__link «РОСА»
                li.softs-grid__item(data-category="3")
                    a(href="#").softs-grid__link «РЕД СОФТ»
                li.softs-grid__item(data-category="3")
                    a(href="#").softs-grid__link «БУЛАТ»
                li.softs-grid__item(data-category="3")
                    a(href="#").softs-grid__link Dr.Web
                li.softs-grid__item(data-category="3")
                    a(href="#").softs-grid__link «Битрикс24»
                li.softs-grid__item(data-category="3")
                    a(href="#").softs-grid__link InfoWatch
                li.softs-grid__item(data-category="3")
                    a(href="#").softs-grid__link Zecurion