section#soft-types.soft-types
    .soft-types__container
        .soft-types__body
            h2.section-title.soft-types__title Виды программного обеспечения
            ul.soft-types__list
                li.soft-types__item
                    strong Программное обеспечение 
                    | —&nbsp;это программы, используемые 
                    | для&nbsp;функционирования ИТ&#8209;оборудования и&nbsp;работы с&nbsp;ним.
                    br
                    | Различают 3&nbsp;основных вида программного обеспечения:
                li.soft-types__item
                    strong Cистемное 
                    | —&nbsp;для управления аппаратной частью оборудования 
                    | (операционные системы, драйверы и&nbsp;др.).
                li.soft-types__item
                    strong Прикладное 
                    | —&nbsp;используется для&nbsp;работы с&nbsp;компьютерным оборудованием 
                    | (базы данных, антивирусы, редакторы и&nbsp;др.)
                li.soft-types__item
                    strong Инструментальное 
                    | —&nbsp;предназначено для&nbsp;отладки, настройки и&nbsp;переписывания 
                    | программного кода (компиляторы, отладчики, интерпретаторы и&nbsp;др.)