section#soft-why.soft-why
    .soft-why__container
        .soft-why__body
            h2.section-title.soft-why__title Почему важно работать только с&nbsp;лицензионным программным обеспечением?
            .soft-why__content
                h3.soft-why__reason(data-aos="fade-up", data-aos-duration="750") Использование лицензированного программного обеспечения позволяет организациям:
                ul.soft-why__list(data-aos="fade-up", data-aos-duration="750") 
                    li.soft-why__item избежать рисков, связанных с&nbsp;соответствием российского законодательства;
                    li.soft-why__item получить право на&nbsp;квалифицированную техническую поддержку производителя программного обеспечения;
                    li.soft-why__item защитить программное обеспечение от&nbsp;злоумышленников и&nbsp;вирусов;
                    li.soft-why__item своевременно обновлять версии программного обеспечения.(data-aos="fade-up", data-aos-duration="750")