section#page-hero.page-hero
    .page-hero__container
        - const sertificatePage = true;
        include ../_breadcrumbs

        .page-hero__content
            h1.main-title.page-hero__title Сертификаты
            p.main-subtitle.page-hero__text
                | Наличие сертификатов подтверждает, что&nbsp;мы
                | являемся авторизованными партнёрами
                | производителей программного обеспечения и&nbsp;оборудования
            
            .page-hero__softs
                form(action="#", method="post").select-page__form
                    .select.page-hero__select
                        .select__title.open-select
                            span.current-value(data-current="") Сертификаты
                            include ../icons/_spoiler
                        
                        .select__hidden-block
                            ul.select__list
                                li.select__item._selected(data-value="Все сертификаты", data-category="0") Все сертификаты
                                li.select__item(data-value="Оборудование", data-category="1") Оборудование
                                li.select__item(data-value="Информационная безопасность", data-category="2") Информационная безопасность
                                li.select__item(data-value="Программное обеспечение", data-category="3") Программное обеспечение
                                li.select__item(data-value="Виртуализация", data-category="4") Виртуализация
                        
                .certificates-grid.filter-list
                    ul.certificates-grid__list 
                        li.certificates-grid__item(data-category="1")
                            a.certificates-grid__link(href="https://www.azone-it.ru/sites/all/themes/blogger_theme/images/sertificats/2024/kaspersky_2024.png", data-lightbox="1"  data-caption="«Лаборатория Касперского»") 
                                h4.certificates-grid__title  «Лаборатория Касперского»
                                span.certificates-grid__status Статус Platinum Partner
                                include ../icons/_arrow-down
                        li.certificates-grid__item(data-category="2")
                            a.certificates-grid__link(href="https://www.azone-it.ru/sites/all/themes/blogger_theme/images/sertificats/2024/code_2024.png",data-lightbox="2"  data-caption="«Код безопасности»") 
                                h4.certificates-grid__title   «Код безопасности»
                                span.certificates-grid__status Статус Platinum Partner
                                include ../icons/_arrow-down
                        li.certificates-grid__item(data-category="3")
                            a.certificates-grid__link(href="https://www.azone-it.ru/sites/all/themes/blogger_theme/images/sertificats/2024/stakhanovets_2024.png",data-lightbox="3"  data-caption="«Стахановец»") 
                                h4.certificates-grid__title  «Стахановец»
                                span.certificates-grid__status Статус Platinum Partner
                                include ../icons/_arrow-down
                        li.certificates-grid__item(data-category="4")
                            a.certificates-grid__link(href="https://www.azone-it.ru/sites/all/themes/blogger_theme/images/sertificats/2024/my-office-2024.png",data-lightbox="4"  data-caption="ООО «Новые облачные технологии» (МойОфис)")     
                                h4.certificates-grid__title  ООО «Новые облачные технологии» (МойОфис)
                                span.certificates-grid__status Статус авторизованного партнёра
                                include ../icons/_arrow-down
                        li.certificates-grid__item(data-category="1")
                            a.certificates-grid__link(href="https://www.azone-it.ru/sites/all/themes/blogger_theme/images/sertificats/2022/1c-2022.jpg",data-lightbox="5"  data-caption="ООО «1С»") 
                                h4.certificates-grid__title  ООО «1С»
                                span.certificates-grid__status Статус авторизованного партнёра
                                include ../icons/_arrow-down

            form(action="", method="post").load-more 
                button(type="button").button._highlight.load-more__button Загрузить еще