if softPage == true

    .breadcrumbs.catalog__breadcrumbs
        ul.breadcrumbs__list
            li.breadcrumbs__item 
                a(href="/about.html").breadcrumbs__link О компании
            li.breadcrumbs__item 
                .breadcrumbs__link Программное обеспечение

else if equipmentPage == true

    .breadcrumbs.catalog__breadcrumbs
        ul.breadcrumbs__list
            li.breadcrumbs__item 
                a(href="/about.html").breadcrumbs__link О компании
            li.breadcrumbs__item 
                .breadcrumbs__link ИТ-оборудование

else if aboutPage == true

    .breadcrumbs.catalog__breadcrumbs
        ul.breadcrumbs__list
            li.breadcrumbs__item 
                a(href="/").breadcrumbs__link Главная
            li.breadcrumbs__item 
                .breadcrumbs__link О компании

else if newsPage == true

    .breadcrumbs.catalog__breadcrumbs
        ul.breadcrumbs__list
            li.breadcrumbs__item 
                a(href="/about.html").breadcrumbs__link О компании
            li.breadcrumbs__item 
                .breadcrumbs__link PRO Медиа

else if autsorsingPage == true

    .breadcrumbs.catalog__breadcrumbs
        ul.breadcrumbs__list
            li.breadcrumbs__item 
                a(href="/about.html").breadcrumbs__link О компании
            li.breadcrumbs__item 
                .breadcrumbs__link ИТ-аутсорсинг

else if vendorPage == true

    .breadcrumbs.catalog__breadcrumbs
        ul.breadcrumbs__list
            li.breadcrumbs__item 
                a(href="/").breadcrumbs__link Главная
            li.breadcrumbs__item 
                .breadcrumbs__link UTINET

else if sertificatePage == true

    .breadcrumbs.catalog__breadcrumbs
        ul.breadcrumbs__list
            li.breadcrumbs__item 
                a(href="/").breadcrumbs__link Главная
            li.breadcrumbs__item 
                a(href="/about.html").breadcrumbs__link О компании
            li.breadcrumbs__item 
                .breadcrumbs__link Сертификаты

else if licensesPage == true

    .breadcrumbs.catalog__breadcrumbs
        ul.breadcrumbs__list
            li.breadcrumbs__item 
                a(href="/").breadcrumbs__link Главная
            li.breadcrumbs__item 
                a(href="/about.html").breadcrumbs__link О компании
            li.breadcrumbs__item 
                .breadcrumbs__link Лицензии

else if projectsPage == true

    .breadcrumbs.catalog__breadcrumbs
        ul.breadcrumbs__list
            li.breadcrumbs__item 
                a(href="/").breadcrumbs__link Главная
            li.breadcrumbs__item 
                a(href="/about.html").breadcrumbs__link О компании
            li.breadcrumbs__item 
                .breadcrumbs__link Проекты

else if recomendationPage == true

    .breadcrumbs.catalog__breadcrumbs
        ul.breadcrumbs__list
            li.breadcrumbs__item 
                a(href="/").breadcrumbs__link Главная
            li.breadcrumbs__item 
                a(href="/about.html").breadcrumbs__link О компании
            li.breadcrumbs__item 
                .breadcrumbs__link Отзывы

else if contactsPage == true

    .breadcrumbs.catalog__breadcrumbs
        ul.breadcrumbs__list
            li.breadcrumbs__item 
                a(href="/").breadcrumbs__link Главная
            li.breadcrumbs__item 
                a(href="/about.html").breadcrumbs__link О компании
            li.breadcrumbs__item 
                .breadcrumbs__link Контакты

else

    .breadcrumbs.catalog__breadcrumbs
        ul.breadcrumbs__list
            li.breadcrumbs__item 
                a(href="/about.html").breadcrumbs__link О компании
            li.breadcrumbs__item 
                .breadcrumbs__link УВЭЖХ система HELICON 1800 UHPLC с бинарным насосом