section#consultation.consultation
    .consultation__container
        h2.section-title.consultation__message
            | Спасибо за обращение!
            br
            | Мы 
            span скоро 
            | с&nbsp;Вами свяжемся.
        .consultation__body
            h2.section-title.consultation__title Получить консультацию
            p.section-subtitle.consultation__text
                | Отправьте описание задачи, в&nbsp;решении которой нуждается ваш бизнес. 
                | Мы&nbsp;предложим возможные варианты её&nbsp;решения и&nbsp;рассчитаем стоимость выполнения
            form(action="#", method="post")#consultation-form.consultation__form
                .consultation__wrapper
                    input#consultation-name.consultation__input(type="text", name="consultation-name", placeholder="Ваше имя", required)
                    input#consultation-email.consultation__input(type="email", name="consultation-email", placeholder="E-mail", required)
                    input#consultation-inn.consultation__input(type="number", name="consultation-inn", placeholder="ИНН", required)
                    input#consultation-phone.consultation__input(type="tel", name="consultation-phone", placeholder="+7 (___)___-__-__", required)
                    textarea#consultation-comment.consultation__textarea(name="", cols="30", rows="5", placeholder="Комментарий")
                button.button.consultation__button._highlight(type="submit") Отправить