section#feedback.feedback
    .feedback__container
        .feedback__body
            h2.section-title._with-text.feedback__title Нас рекомендуют 
            p.section-subtitle.feedback__text
                | Мы работаем с&nbsp;коммерческими и&nbsp;государственными заказчиками 
                | всех отраслей и&nbsp;направлений
            
            .feedback__content
                .feedback__slider.swiper
                    .feedback__wrapper.swiper-wrapper
                        .feedback__slide.swiper-slide
                            ul.feedback-slide 
                                li.feedback-slide__item 
                                    <img src="@img/feedback/item-1.svg" alt="logo">
                                li.feedback-slide__item 
                                    <img src="@img/feedback/item-2.svg" alt="logo">
                                li.feedback-slide__item 
                                    <img src="@img/feedback/item-3.svg" alt="logo">
                                li.feedback-slide__item 
                                    <img src="@img/feedback/item-4.svg" alt="logo">
                        .feedback__slide.swiper-slide
                            ul.feedback-slide 
                                li.feedback-slide__item 
                                    <img src="@img/feedback/item-1.svg" alt="logo">
                                li.feedback-slide__item 
                                    <img src="@img/feedback/item-2.svg" alt="logo">
                                li.feedback-slide__item 
                                    <img src="@img/feedback/item-3.svg" alt="logo">
                                li.feedback-slide__item 
                                    <img src="@img/feedback/item-4.svg" alt="logo">
                    
                .swiper__navigation.feedback-swiper__navigation 
                    .prev
                        include icons/_arrow-prev
                    .next
                        include icons/_arrow-next

                a(href="/feedback.html").see-all.feedback__link
                    span Все отзывы
                    include icons/_link-all
