footer.footer
	.footer__container
		a(data-text="Наверх")#to-top.footer__to-top
			span.button__icon 
				svg(xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none")
					path(d="M18.9999 29.4023C18.9999 29.9546 19.4476 30.4023 19.9999 30.4023C20.5522 30.4023 20.9999 29.9546 20.9999 29.4023L18.9999 29.4023ZM20.707 10.8907C20.3165 10.5002 19.6833 10.5002 19.2928 10.8907L12.9288 17.2547C12.5383 17.6452 12.5383 18.2784 12.9288 18.6689C13.3193 19.0594 13.9525 19.0594 14.343 18.6689L19.9999 13.0121L25.6567 18.6689C26.0473 19.0594 26.6804 19.0594 27.0709 18.6689C27.4615 18.2784 27.4615 17.6452 27.0709 17.2547L20.707 10.8907ZM20.9999 29.4023L20.9999 11.5979L18.9999 11.5979L18.9999 29.4023L20.9999 29.4023Z" fill="white")

		.footer__top
			.footer__top-left
				.footer__logo.logo-footer 
					img.logo-footer__img(src="@img/footer/logo.svg", alt="logo")
					span.logo-footer__text Системная интеграция
				ul.footer__social.social-icons 
					li.social-icons__icon 
						a(href="#").social-icons__link
							include icons/_tg
					li.social-icons__icon
						a(href="#").social-icons__link
							include icons/_vk
			.footer__top-rigth
				nav.footer__nav 
					ul.footer__menu.menu-footer 
						li.menu-footer__item 
							h4.menu-footer__title О компании
						li.menu-footer__item 
							a(href="").menu-footer__link Информация
						li.menu-footer__item 
							a(href="").menu-footer__link Карьера
						li.menu-footer__item 
							a(href="").menu-footer__link Лицензии
						li.menu-footer__item 
							a(href="").menu-footer__link Сертификаты
					ul.footer__menu.menu-footer 
						li.menu-footer__item 
							h4.menu-footer__title Продукты и услуги
						li.menu-footer__item 
							a(href="").menu-footer__link Каталог
						li.menu-footer__item 
							a(href="").menu-footer__link ИТ-инфраструктура
						li.menu-footer__item 
							a(href="").menu-footer__link СП и СИ
						li.menu-footer__item 
							a(href="").menu-footer__link Импортозамещение
					ul.footer__menu.menu-footer 
						li.menu-footer__item 
							h4.menu-footer__title Контакты
						li.menu-footer__item 
							a(href="tel:+74959026636").menu-footer__link 7 (495) 902-66-36
						li.menu-footer__item 
							a(href="mailto:bid@azone-it.com").menu-footer__link bid@azone-it.com
						li.menu-footer__item 
							a(href="").menu-footer__link Тех. поддержка
						li.menu-footer__item 
							a(href="tel:+74997072207").menu-footer__link +7 (499) 707-22-07
							
		.footer__bottom.bottom-footer
			ul.footer__social.social-icons-mobile 
				li.social-icons__icon 
					a(href="#").social-icons__link
						include icons/_tg
				li.social-icons__icon
					a(href="#").social-icons__link
						include icons/_vk
			p.bottom-footer__text © 2023 Копирование материалов сайта запрещено.
			a.bottom-footer__link(href="/policy.html") Политика обработки конфиденциальности данных