head 
	meta(charset="UTF-8")
	meta(http-equiv="X-UA-Compatible", content="IE=edge")
	meta(name="viewport", content="width=device-width, initial-scale=1.0")
	meta(name="color-scheme" content="only light")
	link(rel="apple-touch-icon", sizes="180x180", href="./apple-touch-icon.png")
	link(rel="icon", type="image/png", sizes="32x32", href="./favicon-32x32.png")
	link(rel="icon", type="image/svg+xml", href="./favicon.svg")
	link(rel="icon", type="image/png", sizes="16x16", href="./favicon-16x16.png")
	meta(name="msapplication-TileColor", content="#ffffff")
	meta(name="theme-color", content="#ffffff")
	meta(property="og:title", content="Системный интегратор <<Азон>>")
	meta(property="og:site_name", content="https://www.azone-it.ru")
	meta(property="og:url", content="https://www.azone-it.ru")
	meta(property="og:description", content="Ключевая составляющая нашего успеха — всегда быть на связи с клиентом и проведение конструктивных встреч и диалогов")
	meta(property="og:image", content="https://www.azone-it.ru/cm-poster.jpg")
	meta(property="og:image:width", content="968")
	meta(property="og:image:height", content="504")
	title Системный интегратор «Азон» | ИТ-компания «Азон»
	script(src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.5/js/lightbox.min.js")
	link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.5/css/lightbox.min.css")
	//- script(src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js")
	//- link(rel="stylesheet", href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css")
	link(rel="stylesheet", href="css/style.min.css")
	link(rel="manifest", href="./site.webmanifest")
	link(href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet")
	script(src="https://unpkg.com/aos@2.3.1/dist/aos.js")