section#hero.hero
    .hero__container
        .hero__mobile-content
                h1.main-title.hero__title Системный интегратор «Азон»
                p.hero__text Ключевая составляющая нашего успеха &mdash; всегда быть на&nbsp;связи с&nbsp;клиентом и&nbsp;проведение конструктивных встреч и&nbsp;диалогов
 
        .hero__body 
            .hero__content 
                h1.main-title.hero__title Системный интегратор «Азон»
                p.hero__text Ключевая составляющая нашего успеха &mdash; всегда быть на&nbsp;связи с&nbsp;клиентом и&nbsp;проведение конструктивных встреч и&nbsp;диалогов
                a(href="/about.html").button._transparent.hero__button Узнать нас&nbsp;лучше
        
        .hero__nav.nav-hero
            ul.nav-hero__list
                li.nav-hero__item
                    a(href="#services").nav-hero__link Услуги
                li.nav-hero__item
                    a(href="#licenses").nav-hero__link Лицензии                
                li.nav-hero__item
                    a(href="#recognition").nav-hero__link Признание               
                li.nav-hero__item
                    a(href="#partners").nav-hero__link Партнёры
                li.nav-hero__item
                    a(href="#projects").nav-hero__link Проекты              
                li.nav-hero__item
                    a(href="#feedback").nav-hero__link Отзывы