section#licenses.licenses
    .licenses__container
        .licenses__body
            h2.section-title._with-text.licenses__title Лицензии
            p.section-subtitle.licenses__text
                | Мы регулярно подтверждаем необходимые сертификаты и&nbsp;лицензии
                <br>
                | Федеральной службы безопасности, Федеральной службы по&nbsp;техническому 
                | и&nbsp;экспортному контролю Российской Федерации
            
            ul.licenses__list
                li.licenses__item.item-licenses
                    h4.item-licenses__title ФСТЭК РФ
                    p.item-licenses__text
                        | Лицензия ФСТЭК России №3518 от&nbsp;25.03.2019 на&nbsp;осуществление 
                        | мероприятий и&nbsp;(или)&nbsp;оказание услуг в&nbsp;области защиты государственной 
                        | тайны (в&nbsp;части технической защиты информации)
                li.licenses__item.item-licenses
                    h4.item-licenses__title ФСТЭК РФ
                    p.item-licenses__text
                        | Лицензия ФСТЭК России №1495 от&nbsp;29.12.2015 на&nbsp;деятельность 
                        | по&nbsp;разработке и&nbsp;производству средств защиты конфиденциальной информации
                li.licenses__item.item-licenses
                    h4.item-licenses__title ФСБ РФ
                    p.item-licenses__text
                        | Лицензия ФСБ России №34174 от&nbsp;20.12.2019 на&nbsp;проведение работ, 
                        | связанных с&nbsp;использованием сведений, составляющих государственную тайну
            
            a(href="/licenses.html").see-all.licenses__link
                span Все лизензии
                include icons/_link-all
