.mobile-menu
    .mobile-menu__body
        ul.mobile-menu__list 
            li.mobile-menu__item 
                a.mobile-menu__link(href="/catalog.html") Каталог
            li.mobile-menu__item 
                a.mobile-menu__link(href="/catalog.html") ИТ-инфраструктура
            li.mobile-menu__item 
                a.mobile-menu__link(href="/catalog.html") О компании
            li.mobile-menu__item 
                a.mobile-menu__link(href="tel:+74959026636") 8 (495) 902-66-36
            li.mobile-menu__item 
                a.mobile-menu__link(href="mailto:info@azone-it.ru") info@azone-it.ru

        a(href="#consultation")#consultation-button.button.mobile-menu__button Консультация