section#offer.offer
    .offer__container
        .offer__body
            h2.section-title.offer__title Что мы предлагаем?
            ul.offer__grid.grid-offer
                li.grid-offer__item._highlight-2(data-aos="fade-up", data-aos-duration="750")
                    include icons/_star 
                    h4.grid-offer__title Комплексный подход
                    p.grid-offer__text 
                        | Подбор, поставка, внедрение и&nbsp;настройка программного обеспечения. 
                        | А&nbsp;также дополнительные услуги: техническая поддержка и&nbsp;обучение 
                        | пользователей работе с&nbsp;решениями (при&nbsp;необходимости).
                li.grid-offer__item(data-aos="fade-up", data-aos-duration="750")
                    include icons/_star
                    h4.grid-offer__title Специальные условия ценообразования
                    p.grid-offer__text 
                        | Мы&nbsp;сотрудничаем со&nbsp;многими производителями с&nbsp;2003&nbsp;года, 
                        | поэтому можем формировать для&nbsp;постоянных клиентов специальные 
                        | системы скидок и&nbsp;предлагать для&nbsp;новых заказчиков оптимальные цены.
                li.grid-offer__item(data-aos="fade-up", data-aos-duration="750")
                    include icons/_star
                    h4.grid-offer__title Своевременное продление
                    p.grid-offer__text 
                        | Отслеживаем сроки окончания действия лицензий, 
                        | напоминаем о&nbsp;необходимости продления и&nbsp;помогаем пролонгировать 
                        | лицензии до&nbsp;истечения срока действия.
                li.grid-offer__item._highlight(data-aos="fade-up", data-aos-duration="750")
                    include icons/_star 
                    h4.grid-offer__title Возможность аренды программного обеспечения
                    p.grid-offer__text 
                        | Для оптимизации затрат на&nbsp;обслуживание 
                        | ИТ-инфраструктуры мы&nbsp;помогаем арендовать облачные версии решений.