section#partners.partners
    .partners__container
        .partners__body
            h2.section-title._with-text.partners__title Партнёры
            p.section-subtitle.partners__text
                | Российские и&nbsp;международные производители программного обеспечения, 
                <br>
                | компьютерного, сетевого и серверного оборудования
            ul.partners__grid.grid-partners
                li.grid-partners__item 
                    a(href="/").grid-partners__link «ИнфоТеКС»
                li.grid-partners__item 
                    a(href="/").grid-partners__link «Код Безопасности»
                li.grid-partners__item 
                    a(href="/").grid-partners__link «Киберпротект»
                li.grid-partners__item 
                    a(href="/").grid-partners__link «Гарда Технологии»
                li.grid-partners__item 
                    a(href="/").grid-partners__link Positive Technologies
                li.grid-partners__item 
                    a(href="/").grid-partners__link Aquarius
                li.grid-partners__item 
                    a(href="/").grid-partners__link «Лаборатория Касперского»
                li.grid-partners__item 
                    a(href="/").grid-partners__link iRU
                li.grid-partners__item 
                    a(href="/").grid-partners__link «Аладдин Р.Д.»
                li.grid-partners__item 
                    a(href="/").grid-partners__link «Ростелеком-Солар»
            
            a(href="/partners.html").see-all.services__link
                span Все партнёры
                include icons/_link-all
