section#projects.projects
    .projects__container
        .projects__body
            h2.section-title.projects__title Реализованные
                br 
                span проекты
            
            .projects__content
                .projects__left
                    .projects__slider.swiper
                        .projects__wrapper.swiper-wrapper
                            .projects__slide.swiper-slide.projects-slide
                                h3.projects-slide__title 1 Интеграция и настройка IP-телефонии Asterisk
                            .projects__slide.swiper-slide.projects-slide
                                h3.projects-slide__title 2 Интеграция и настройка IP-телефонии Asterisk
                            .projects__slide.swiper-slide.projects-slide
                                h3.projects-slide__title 3 Интеграция и настройка IP-телефонии Asterisk
                        .swiper-pagination.projects-swiper__pagination
                    .swiper__navigation.projects-swiper__navigation 
                        .prev
                            include icons/_arrow-prev
                        .next
                            include icons/_arrow-next
                
                #projectsImages.projects__right.right-projects
                    img(data-image="0" src="@img/projects/item-1.png", alt="image")
                    img.hidden(data-image="1" src="@img/projects/item-2.png", alt="image")
                    img.hidden(data-image="2" src="@img/projects/item-3.png", alt="image")

            a(href="/projects.html").see-all.projects__link
                span Все проекты
                include icons/_link-all