section#recomendation.recomendation
    .recomendation__container
        .recomendation__body
            h2.section-title.recomendation__title Нас рекомендуют

            .grid-recomendation__slider.swiper
                .grid-recomendation__wrapper.swiper-wrapper.simple__wrapper
                    .grid-recomendation__slide.swiper-slide
                        blockquote.grid-recomendation__blockquote
                            include icons/_quote
                            p.grid-recomendation__text
                                | «...Рекомендуем ИТ&#8209;компанию «Азон» как&nbsp;команду 
                                | специалистов высокого уровня, которые всегда 
                                | оперативно реагируют на&nbsp;наши запросы и&nbsp;демонстрируют 
                                | экспертный подход при&nbsp;решении поставленных задач...»
                            cite.grid-recomendation__author 
                                | Равин Н.В.,<br>заместитель директора<br>ФИЦ «Фундаментальные основы<br>биотехнологии» РАН

                    .grid-recomendation__slide.swiper-slide
                        blockquote.grid-recomendation__blockquote
                            include icons/_quote
                            p.grid-recomendation__text
                                | «ИТ-компания «Азон» выступила в &nbsp;роли подрядчика 
                                | по &nbsp;поставкам программного обеспечения и &nbsp;специализированного оборудования. 
                                | Хотим уверенно порекомендовать ИТ&#8209;компанию «Азон» 
                                | как &nbsp;надёжных и &nbsp;ответственных специалистов».
                            cite.grid-recomendation__author 
                                | Перлей В.Н.,<br>заместитель директора<br>«ИЯзРАН»
                    
                    .grid-recomendation__slide.swiper-slide
                        blockquote.grid-recomendation__blockquote
                            include icons/_quote
                            p.grid-recomendation__text
                                | «...Рекомендуем ИТ&#8209;компанию «Азон» как&nbsp;команду 
                                | специалистов высокого уровня, которые всегда 
                                | оперативно реагируют на&nbsp;наши запросы и&nbsp;демонстрируют 
                                | экспертный подход при&nbsp;решении поставленных задач...»
                            cite.grid-recomendation__author 
                                | Равин Н.В.,<br>заместитель директора<br>ФИЦ «Фундаментальные основы<br>биотехнологии» РАН

                    .grid-recomendation__slide.swiper-slide
                        blockquote.grid-recomendation__blockquote
                            include icons/_quote
                            p.grid-recomendation__text
                                | «ИТ-компания «Азон» выступила в &nbsp;роли подрядчика 
                                | по &nbsp;поставкам программного обеспечения и &nbsp;специализированного оборудования. 
                                | Хотим уверенно порекомендовать ИТ&#8209;компанию «Азон» 
                                | как &nbsp;надёжных и &nbsp;ответственных специалистов».
                            cite.grid-recomendation__author 
                                | Перлей В.Н.,<br>заместитель директора<br>«ИЯзРАН»
                
                .swiper__navigation.grid-recomendation__navigation
                    .prev
                        include icons/_arrow-prev
                    .next
                        include icons/_arrow-next

            //- a(href="/projects.html").see-all.recomendation__link
            //-     span Все отзывы
            //-     include icons/_link-all


            //- ul.recomendation__grid.grid-recomendation
            //-     li.grid-recomendation__item(data-aos="fade-up", data-aos-duration="750")
            //-          blockquote.grid-recomendation__blockquote
            //-             include icons/_quote
            //-             p.grid-recomendation__text
            //-                 | «...Рекомендуем ИТ&#8209;компанию «Азон» как&nbsp;команду 
            //-                 | специалистов высокого уровня, которые всегда 
            //-                 | оперативно реагируют на&nbsp;наши запросы и&nbsp;демонстрируют 
            //-                 | экспертный подход при&nbsp;решении поставленных задач...»
            //-             cite.grid-recomendation__author 
            //-                 | Равин Н.В.,<br>заместитель директора<br>ФИЦ «Фундаментальные основы<br>биотехнологии» РАН

            //-     li.grid-recomendation__item(data-aos="fade-up", data-aos-duration="750")
            //-          blockquote.grid-recomendation__blockquote
            //-             include icons/_quote
            //-             p.grid-recomendation__text
            //-                 | «ИТ-компания «Азон» выступила в &nbsp;роли подрядчика 
            //-                 | по &nbsp;поставкам программного обеспечения и &nbsp;специализированного оборудования. 
            //-                 | Хотим уверенно порекомендовать ИТ&#8209;компанию «Азон» 
            //-                 | как &nbsp;надёжных и &nbsp;ответственных специалистов».
            //-             cite.grid-recomendation__author 
            //-                 | Перлей В.Н.,<br>заместитель директора<br>«ИЯзРАН»
            //- a(href="/projects.html").see-all.recomendation__link
            //-     span Все отзывы
            //-     include icons/_link-all