section#recognition.recognition
    .recognition__container
        .recognition__body
            h2.section-title._with-text.recognition__title Признание
            p.section-subtitle.recognition__text
                | Наша стратегия — создание решения под технологические возможности и задачи клиента
                <br>
                | Её эффективность подтверждают отраслевые рейтинги в сфере информационных технологий России и стран СНГ

            ul.recognition__grid.grid-recognition
                li.grid-recognition__item._black._tall
                    blockquote.grid-recognition__blockquote
                        cite.grid-recognition__author CNews
                        p.grid-recognition__text «Крупнейшие поставщики решений в&nbsp;сфере информационной безопасности в&nbsp;России»
                        a(href="#").grid-recognition__link Читать
                li.grid-recognition__item._highlight._tall
                    blockquote.grid-recognition__blockquote
                        cite.grid-recognition__author CNews
                        p.grid-recognition__text «Крупнейшие IT&#8209;поставщики в&nbsp;госсекторе России по&nbsp;выручке»
                        a(href="#").grid-recognition__link Читать
                li.grid-recognition__item
                    blockquote.grid-recognition__blockquote
                        cite.grid-recognition__author CNews
                        p.grid-recognition__text «Рынок IT&#8209;услуг и&nbsp;IT&#8209;аутсорсинга в&nbsp;России»
                        a(href="#").grid-recognition__link Читать
                
                li.grid-recognition__item
                    blockquote.grid-recognition__blockquote
                        cite.grid-recognition__author Tadviser
                        p.grid-recognition__text «Крупнейшие поставщики IT&#8209;решений для&nbsp;госсектора»
                        a(href="#").grid-recognition__link Читать 
                li.grid-recognition__item._highlight._tall
                    blockquote.grid-recognition__blockquote
                        cite.grid-recognition__author CNews
                        p.grid-recognition__text «Крупнейшие поставщики IT&#8209;решений из&nbsp;реестра отечественного&nbsp;ПО»
                        a(href="#").grid-recognition__link Читать 
                li.grid-recognition__item._tall
                    blockquote.grid-recognition__blockquote
                        cite.grid-recognition__author Tadviser
                        p.grid-recognition__text «Крупнейшие поставщики услуг IT&#8209;аутсорсинга»
                        a(href="#").grid-recognition__link Читать 
                li.grid-recognition__item._medium._mobile-wide
                    blockquote.grid-recognition__blockquote
                        cite.grid-recognition__author Tadviser
                        p.grid-recognition__text 
                            | «Крупнейшие системные интеграторы России: построение IT&#8209;инфраструктуры»
                        a(href="#").grid-recognition__link Читать
                li.grid-recognition__item._wide
                    blockquote.grid-recognition__blockquote
                        cite.grid-recognition__author Tadviser
                        p.grid-recognition__text «Крупнейшие поставщики в&nbsp;области комплексных проектов построения инфраструктуры зданий и&nbsp;сооружений»
                        a(href="#").grid-recognition__link Читать
                li.grid-recognition__item._wide._highlight
                    blockquote.grid-recognition__blockquote
                        cite.grid-recognition__author Tadviser
                        p.grid-recognition__text «Крупнейшие интеграторы в&nbsp;области инженерной инфраструктуры и&nbsp;систем безопасности»
                        a(href="#").grid-recognition__link Читать            