section#services.services
    .services__container
        .services__body
            h2.services__title.section-title Услуги
            ul.services__grid.grid-services
                li.grid-services__item._tall._black
                    a(href="").grid-services__link
                        h3.grid-services__title Монтаж СКС и&nbsp;силовых линий 
                        .grid-services__bottom 
                            .grid-services__icon 
                                include icons/_link-arrow
                            span.grid-services__count 01
                li.grid-services__item 
                    a(href="").grid-services__link
                        h3.grid-services__title IT-аутсорсинг
                        .grid-services__bottom 
                            .grid-services__icon 
                                include icons/_link-arrow
                            span.grid-services__count 02
                li.grid-services__item._tall._mobile-tall
                    a(href="").grid-services__link
                        h3.grid-services__title Импорто-замещение
                        .grid-services__bottom 
                            .grid-services__icon 
                                include icons/_link-arrow
                            span.grid-services__count 03

                li.grid-services__item._tall 
                    a(href="").grid-services__link
                        h3.grid-services__title Организация IT-инфраструктуры
                        .grid-services__bottom 
                            .grid-services__icon 
                                include icons/_link-arrow
                            span.grid-services__count 05

                li.grid-services__item._mobile-tall 
                    a(href="").grid-services__link
                        h3.grid-services__title Информационная безопасность
                        .grid-services__bottom 
                            .grid-services__icon 
                                include icons/_link-arrow
                            span.grid-services__count 04

                li.grid-services__item._mobile-tall
                    a(href="").grid-services__link
                        h3.grid-services__title Виртуализация
                        .grid-services__bottom 
                            .grid-services__icon 
                                include icons/_link-arrow
                            span.grid-services__count 06
                li.grid-services__item._black._wide 
                    a(href="").grid-services__link
                        h3.grid-services__title Поставка IT-оборудования и программного обеспечения
                        .grid-services__bottom 
                            .grid-services__icon 
                                include icons/_link-arrow
                            span.grid-services__count 07
                li.grid-services__item._highlight._wide 
                    a(href="").grid-services__link
                        h3.grid-services__title Специальные проверки и специальные исследования
                        .grid-services__bottom 
                            .grid-services__icon 
                                include icons/_link-arrow
                            span.grid-services__count 08

            a(href="/services.html").see-all.services__link
                span Все услуги
                include icons/_link-all