section#articles.articles
    .articles__container 
        ul.articles__list.filter-list
            li.articles__item.article-item(data-category="1")
                    h3.article-item__title
                        a(href="/news.html?1") Межсетевой экран для защиты веб-приложений от МТС RED
                    p.article-item__text 
                        | МТС RED, дочерняя компания ПАО «МТС», разработала для российского рынка информационных технологий масштабируемый сервис эшелонированной защиты веб-приложений (WAF). Это межсетевой экран, который поддерживает 
                        | высоконагруженные веб-приложения и совместим с МТС RED Anti-DDoS. 
                    a(href="/news.html?1")
                        .article-item__to
                            span Подробнее
                            include ../icons/_link
            li.articles__item.article-item(data-category="1")
                    h3.article-item__title
                        a(href="/news.html?2") Иммерсионное охлаждение: особенности и недостатки
                    p.article-item__text 
                        | Серверное оборудование погружают в диэлектрическую охлаждающую жидкость. 
                        | Она вбирает в себя всё тепло, не повреждая при этом электронику, 
                        | далее иммерсионная жидкость остужается. Вроде бы звучит просто. 
                        | Но этот способ охлаждения не пользуется большой популярностью. 
                        | Потому что не всё так идеально, как может показаться.
                    a(href="/news.html?2")
                        .article-item__to
                            span Подробнее
                            include ../icons/_link
            li.articles__item.article-item(data-category="2")
                    h3.article-item__title 
                        a(href="/news.html?3") ИТ-компания «Азон» в рейтингах крупнейших поставщиков ИТ-решений для госсектора
                    p.article-item__text 
                        | МТС RED, дочерняя компания ПАО «МТС», разработала для российского 
                        | рынка информационных технологий масштабируемый сервис эшелонированной 
                        | защиты веб-приложений (WAF). Это межсетевой экран, который поддерживает 
                        | высоконагруженные веб-приложения и совместим с МТС RED Anti-DDoS.
                    a(href="/news.html?3")
                        .article-item__to
                            span Подробнее
                            include ../icons/_link
            li.articles__item.article-item(data-category="3")
                    h3.article-item__title
                         a(href="/news.html?4") «Азон» в топ-100 рейтингов по информационной безопасности CNews и TAdviser
                    p.article-item__text 
                        | QoS (Quality of Service, качество обслуживания) — это технология управления ресурсами 
                        | сетевых пакетов, позволяющая приоритизировать поток данных, передаваемых по каналам связи IP. 
                        | Обеспечивает трафик необходимым сервисом обслуживания в соответствии с заданными техническими рамками.       
                    a(href="/news.html?4")
                        .article-item__to
                            span Подробнее
                            include ../icons/_link
            li.articles__item.article-item(data-category="4")
                    h3.article-item__title
                         a(href="/news.html?5") «Ворон» и «Бобёр» — новинки на рынке отечественных компьютеров
                    p.article-item__text 
                        | В июле 2023 года российский производитель Delta Computers 
                        | презентовал сразу две модели персональных компьютеров — «Ворон» и «Бобёр». 
                        | Выдерживают высокие нагрузки и способны выполнять сложные задачи. 
                        | Обе модели произведены на базе чипсета Intel H610 и процессоров последних поколений Intel Core.
                    a(href="/news.html?5")
                        .article-item__to
                            span Подробнее
                            include ../icons/_link
            li.articles__item.article-item(data-category="5")
                    h3.article-item__title
                         a(href="/news.html?6") «Менеджер ресурсов» — новый продукт «НТЦ ИТ РОСА»
                    p.article-item__text 
                        | Научно-технический центр информационных технологий «РОСА» представил новое решение 
                        | «Менеджер ресурсов». Это программная платформа для организации и контроля 
                        | работы гибридных корпоративных сред. Позволяет управлять 
                        | ресурсами на основе политик, поддерживать и контролировать работу 
                        | облачных сервисов, виртуальных и контейнерных сред.
                    a(href="/news.html?6")
                        .article-item__to
                            span Подробнее
                            include ../icons/_link
            li.articles__item.article-item(data-category="1")
                    h3.article-item__title
                        a(href="/news.html?7") Межсетевой экран для защиты веб-приложений от МТС RED
                    p.article-item__text 
                        | МТС RED, дочерняя компания ПАО «МТС», разработала для российского рынка информационных технологий масштабируемый сервис эшелонированной защиты веб-приложений (WAF). Это межсетевой экран, который поддерживает 
                        | высоконагруженные веб-приложения и совместим с МТС RED Anti-DDoS.
                    a(href="/news.html?7")
                        .article-item__to
                            span Подробнее
                            include ../icons/_link
            li.articles__item.article-item(data-category="1")
                    h3.article-item__title
                         a(href="/news.html?8") Иммерсионное охлаждение: особенности и недостатки
                    p.article-item__text 
                        | Серверное оборудование погружают в диэлектрическую охлаждающую жидкость. 
                        | Она вбирает в себя всё тепло, не повреждая при этом электронику, 
                        | далее иммерсионная жидкость остужается. Вроде бы звучит просто. 
                        | Но этот способ охлаждения не пользуется большой популярностью. 
                        | Потому что не всё так идеально, как может показаться.
                    a(href="/news.html?8")    
                        .article-item__to
                            span Подробнее
                            include ../icons/_link
            li.articles__item.article-item(data-category="1")
                    h3.article-item__title
                        a(href="/news.html?9") ИТ-компания «Азон» в рейтингах крупнейших поставщиков ИТ-решений для госсектора
                    p.article-item__text 
                        | МТС RED, дочерняя компания ПАО «МТС», разработала для российского 
                        | рынка информационных технологий масштабируемый сервис эшелонированной 
                        | защиты веб-приложений (WAF). Это межсетевой экран, который поддерживает 
                        | высоконагруженные веб-приложения и совместим с МТС RED Anti-DDoS.
                    a(href="/news.html?9")
                        .article-item__to
                            span Подробнее
                            include ../icons/_link
            li.articles__item.article-item(data-category="1")
                    h3.article-item__title
                         a(href="/news.html?10") «Азон» в топ-100 рейтингов по информационной безопасности CNews и TAdviser
                    p.article-item__text 
                        | QoS (Quality of Service, качество обслуживания) — это технология управления ресурсами 
                        | сетевых пакетов, позволяющая приоритизировать поток данных, передаваемых по каналам связи IP. 
                        | Обеспечивает трафик необходимым сервисом обслуживания в соответствии с заданными техническими рамками.       
                    a(href="/news.html?10")   
                        .article-item__to
                            span Подробнее
                            include ../icons/_link
            li.articles__item.article-item(data-category="1")
                    h3.article-item__title
                         a(href="/news.html?11") «Ворон» и «Бобёр» — новинки на рынке отечественных компьютеров
                    p.article-item__text 
                        | В июле 2023 года российский производитель Delta Computers 
                        | презентовал сразу две модели персональных компьютеров — «Ворон» и «Бобёр». 
                        | Выдерживают высокие нагрузки и способны выполнять сложные задачи. 
                        | Обе модели произведены на базе чипсета Intel H610 и процессоров последних поколений Intel Core.
                    a(href="/news.html?11")
                        .article-item__to
                            span Подробнее
                            include ../icons/_link

        form(action="", method="post").load-more 
            button(type="button").button._highlight.load-more__button Загрузить еще