section#page-hero.page-hero
    .page-hero__container
        - const newsPage = true;
        include ../_breadcrumbs

        .page-hero__content
            h1.main-title.page-hero__title PRO Медиа
            p.main-subtitle.page-hero__text
                | Новости вендоров и&nbsp;рынка, база знаний  —  собираем полезную информацию в&nbsp;IT
        
            .page-hero__softs.softs-grid
                nav.hero__nav.nav-hero.page-hero__nav
                    ul.nav-hero__list
                        li.nav-hero__item
                            a(href="#pro-azone").nav-hero__link PRO Азон
                        li.nav-hero__item
                            a(href="#articles").nav-hero__link Статьи           
                        li.nav-hero__item
                            a(href="#vendors").nav-hero__link Вендоры
                        li.nav-hero__item
                            a(href="#it-market").nav-hero__link Рынок IT
                        li.nav-hero__item
                            a(href="#campaign").nav-hero__link  Акции вендоров

                form(action="#", method="post").select-page__form
                    .select.page-hero__select
                        .select__title.open-select
                            span.current-value(data-current="") Все материалы
                            include ../icons/_spoiler

                        .select__hidden-block
                            ul.select__list
                                li.select__item._selected(data-value="Все материалы", data-category="0") Все материалы
                                li.select__item(data-value="PRO Азон", data-category="1") PRO Азон
                                li.select__item(data-value="Статьи", data-category="2") Статьи           
                                li.select__item(data-value="Вендоры", data-category="3") Вендоры
                                li.select__item(data-value="Рынок IT", data-category="4") Рынок IT
                                li.select__item(data-value=" Акции вендоров", data-category="5")  Акции вендоров


            .page-hero__search.search-news
                form(action="#", method="post").search-news__form
                    .search-news__wrapper
                        input#search-input(type="search", name="search-input", placeholder="Поиск").search-news__input
                        button(type="submit").search-news__submit
                            include ../icons/_search