svg(xmlns='http://www.w3.org/2000/svg' width='15' height='14' viewbox='0 0 15 14' fill='none')
  path(d='M2.06222 11.9212L0.927067 10.2699L10.8069 3.43974L3.15699 2.02915L3.52015 0.0484885L14.536 2.07973L12.5105 13.1268L10.5355 12.7626L11.9421 5.09104L2.06222 11.9212Z' fill='#95C11F')