svg(xmlns='http://www.w3.org/2000/svg' width='118' height='19' viewbox='0 0 118 19' fill='none')
  g(clip-path='url(#clip0_115_2673)')
    path(d='M11.2377 12.3479L7.92005 2.47633L4.64175 12.3479H11.2374H11.2377ZM6.32033 0.0117798H9.57244L15.8928 18.9905H13.4668L11.9719 14.549H3.9075L2.42592 18.9905H0L6.32033 0.0117798Z' fill='black')
    path(d='M18.2148 18.5685L28.1938 2.23908H18.6083V0.0117798H32.1275V0.460028L22.2012 16.7632H31.9966V18.9905H18.2151V18.5687L18.2148 18.5685Z' fill='black')
    path(d='M42.1635 16.8394C46.2268 16.8648 48.2585 13.8659 48.2585 9.50098C48.2585 5.13603 46.2268 2.18797 42.1635 2.16255C38.1002 2.13713 36.0937 5.13603 36.0686 9.50098C36.0435 13.8659 38.1002 16.814 42.1635 16.8394ZM33.6836 9.50098C33.6836 3.88312 36.7248 0.0117798 42.1635 0.0117798C47.6023 0.0117798 50.6435 3.88339 50.6435 9.50098C50.6435 15.1186 47.6023 18.9902 42.1635 18.9902C36.7248 18.9902 33.6836 15.1186 33.6836 9.50098Z' fill='black')
    path(d='M53.9873 0.0117798H56.3477L66.1955 14.839V0.0117798H68.5559V18.9905H66.1955L56.3477 4.15015V18.9905H53.9873V0.0117798Z' fill='black')
    path(d='M95.4717 0.0117798H97.8057V18.9905H95.4717V0.0117798Z' fill='black')
    path(d='M109.228 2.23908H102.789V0.0117798H118V2.23908H111.562V18.9905H109.228V2.23908Z' fill='black')
    path(d='M86.9516 2.34675H71.7617V0H86.9516V2.34675Z' fill='black')
    path(d='M86.9512 2.34675H81.3174V0H86.9512V2.34675Z' fill='#95C11F')
    path(d='M86.9741 10.6836H71.7842V8.33685H86.9741V10.6836Z' fill='black')
    path(d='M86.9747 10.6836H81.3408V8.33685H86.9747V10.6836Z' fill='#95C11F')
    path(d='M86.9399 19H71.75V16.6533H86.9399V19Z' fill='black')
    path(d='M86.9395 19H81.3057V16.6533H86.9395V19Z' fill='#95C11F')
  defs
    clippath#clip0_115_2673
      rect(width='118' height='19' fill='white')