section#page-hero.page-hero
    .page-hero__container
        - const projectsPage = true;
        include ../_breadcrumbs

        .page-hero__content
            h1.main-title.page-hero__title Реализованные проекты
            p.main-subtitle.page-hero__text
                | С 2003&nbsp;года реализовываем проекты любой сложности 
                | под&nbsp;задачи и&nbsp;возможности государственных и&nbsp;коммерческих заказчиков
            
            .page-hero__softs
                form(action="#", method="post").select-page__form
                    .select.page-hero__select
                        .select__title.open-select
                            span.current-value(data-current="") Все проекты
                            include ../icons/_spoiler
                        
                        .select__hidden-block
                            ul.select__list
                                li.select__item._selected(data-value="Все проекты", data-category="0") Все проекты
                                li.select__item(data-value="IT-инфраструктура", data-category="1") IT-инфраструктура
                                li.select__item(data-value="СП И СИ", data-category="2") СП И СИ
                                li.select__item(data-value="Информационная безопасность", data-category="3") 
                                    | Информационная безопасность
                        
                .projects-grid.filter-list
                    ul.projects-grid__list 
                        li.projects-grid__item(data-category="1")
                            h4.projects-grid__title
                                a(href="#?1") Российский стартап (NDA)
                            .projects-grid__text
                                p 
                                    | Задача: создание и&nbsp;настройка ИТ-инфраструктуры 
                                    | для запуска офиса с&nbsp;нуля с&nbsp;расчётом её&nbsp;масштабирования 
                                    | на&nbsp;будущий рост компании.
                                p 
                                    | Результат: эффективно работающая стабильная ИТ-инфраструктура.
                            button(type="button").projects-grid__button Подробнее
                        li.projects-grid__item(data-category="2")
                            h4.projects-grid__title 
                                a(href="#?2") Федеральный орган исполнительной власти (NDA)
                            .projects-grid__text 
                                p
                                    | Задача: поставка электронных идентификаторов, 
                                    | сертифицированных ФСТЭК.

                                p 
                                    | Результат: ИТ-компания «Азон» предоставила 
                                    | заказчику электронные идентификаторы (токены) 
                                    | «Рутокен&nbsp;S»&nbsp;(64&nbsp;КБ) в&nbsp;согласованный срок.
                            button(type="button").projects-grid__button Подробнее
                        li.projects-grid__item(data-category="3")
                            h4.projects-grid__title
                                a(href="#?3") Сеть магазинов одежды Philipp Plein
                            .projects-grid__text 
                                p
                                    | Задача: автоматизация работы с&nbsp;заявками 
                                    | и&nbsp;обращениями клиентов по всему миру за&nbsp;счёт внедрения Service Desk.

                                p 
                                    | Результат: ИТ-компания «Азон» произвела внедрение 
                                    | Service Desk в&nbsp;ИТ-инфраструктуру международной 
                                    | сети магазинов Philipp Plein с&nbsp;последующим обучением 
                                    | специалистов заказчика.
                            button(type="button").projects-grid__button Подробнее
                        li.projects-grid__item(data-category="4")
                            h4.projects-grid__title
                                a(href="#?4") Российская компания (NDA)
                            .projects-grid__text 
                                p
                                    | Задача: внедрение и&nbsp;настройка 
                                    | серверного и&nbsp;сетевого оборудования.

                                p 
                                    | Результат: ИТ-компания «Азон» 
                                    | выполнила работы по&nbsp;оптимизации ИТ-инфраструктуры 
                                    | под&nbsp;возможности и&nbsp;задачи заказчика.
                            button(type="button").projects-grid__button Подробнее
                        li.projects-grid__item(data-category="5")
                            h4.projects-grid__title
                                a(href="#?5") «Олимп Дизайн Групп»
                            .projects-grid__text
                                p 
                                    | Задача: проведение аудита и&nbsp;модернизации 
                                    | текущей сетевой и&nbsp;серверной инфраструктуры.
                                p
                                    | Результат: выполненные работы позволили 
                                    | повысить отказоустойчивость сетевой и&nbsp;серверной 
                                    | инфраструктуры, а&nbsp;также значительно увеличить пропускную способность локальной сети клиента.
                            button(type="button").projects-grid__button Подробнее

                    form(action="", method="post").load-more 
                        button(type="button").button._highlight.load-more__button Загрузить еще