.calculator {

    &__title {
        text-align: left;
    }

    &__text {
        @include adaptiveValue("font-size", 20, 14);
        line-height: 1.3;
        font-weight: 300;
    }
}

.price-calculator {
    display: flex;
    flex-direction: column;
    gap: 22px;
    margin-bottom: 20px;

    // @media (max-width:$mobileSmall) {
    //     gap: 16px;
    // }

    &__field {
        display: flex;
        // flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        gap: 32px;
        // @include adaptiveValue("gap", 88, 4);

        @media (max-width:$mobile) {
            flex-direction: column;
            gap: 8px;
        }
    }

    &__input {
        flex: 0 0 50px;
        // width: percent(394, 1180);
        padding: 12px 24px;
        color: $mainColor;
        font-family: "Manrope", sans-serif;
        @include adaptiveValue("font-size", 20, 14);
        font-weight: 300;
        border-radius: 10px;
        border: 1px solid #DADADA;
        outline: none;
        transition: 0.3s ease border-color;

        // @media (max-width:$tablet) {
        //     width: 60%;
        // }

        @media (max-width:$mobile) {
            width: 100%;
            padding: 8px 16px;
        }

        @media (max-width:$mobileSmall) {
            padding: 6px 12px;
            // width: 100%;
        }

        &::placeholder {
            color: $mainColor;
            font-weight: 300;
        }

        &:focus {
            border-color: $highlightColor;
        }

    }

    &__select {
        flex: 1 1 50%;
        width: 50%;
        padding: 12px 24px;
        color: $mainColor;
        font-family: "Manrope", sans-serif;
        @include adaptiveValue("font-size", 16, 14);
        font-weight: 300;
        border-radius: 10px;
        border: 1px solid #DADADA;
        -webkit-appearance: none;
        -moz-appearance: none;
        background: transparent;
        background-image: url(../img/arrow-down.svg);
        background-repeat: no-repeat;
        background-position-x: 95%;
        background-position-y: 50%;
        outline: none;
        transition: 0.3s ease border-color;
        cursor: pointer;

        &:focus {
            border-color: $highlightColor;
        }

        // @media (max-width:$tablet) {
        //     width: 60%;
        // }

        @media (max-width:$mobile) {
            padding: 8px 16px;
            width: 100%;
        }

        @media (max-width:$mobileSmall) {
            padding: 6px 12px;
        }

        @media (max-width:$mobileSmall) {
            width: 100%;
        }
    }

    &__text {
        flex: 1 1 50%;
        padding-bottom: 10px;
        width: 50%;
        @include adaptiveValue("font-size", 20, 14);
        font-weight: 300;
        border-bottom: 1px solid #DADADA;

        span {
            @include adaptiveValue("font-size", 14, 10);
            color: $textColor;
            // font-weight: 700;
        }

        @media (max-width:$mobile) {
            padding-bottom: 0;
            width: 100%;
            border-bottom: none;
        }

        // @media (max-width:$mobileSmall) {
        //     padding: 0;
        //     width: 100%;
        //     border: none;
        //     text-transform: none;
        //     font-weight: 700;
        // }
    }

    &__button {
        align-self: flex-start;

        @media (max-width:$mobileSmall) {
            align-self: stretch;
        }
    }
}

.plans {
    display: none;

    ._plans-visible & {
        display: block;
    }

    &__container {
        padding-top: 50px;
    }

    &__text {
        max-width: 570px;
    }
}

.grid-plans {
    display: flex;

    &__services {
        border-right: 1px solid $bgColor-2;

        @media (max-width:$mobile) {
            display: none;
        }
    }

    &__header {
        border-radius: 30px 0 0 0;
        height: 100px;
        background-color: $highlightColor;
    }

    &__points {
        display: flex;
        flex-direction: column;
        // background-color: $bgColor-2;
    }

    &__point {
        padding: 16px;
        font-size: 16px;
        line-height: 1.2;
        border-bottom: 1px solid $bgColor-2;

        @media (max-width: em(1200)) {
            font-size: 14px;
        }

        @media (max-width:$tablet) {
            padding: 8px;
            font-size: 12px;
        }
    }

    &__body {
        flex: 1 1 auto;
        display: flex;
        justify-content: stretch;

        @media (max-width:$mobile) {
            flex-direction: column;
            gap: 30px;
        }
    }
}

.plan {
    flex: 1 1 auto;

    @media (min-width:$mobile) {
        border-right: 1px solid $bgColor-2;
    }


    &__header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 16px;
        padding: 24px;
        height: 100px;
        border-bottom: 1px solid $bgColor-2;

        @media (max-width:$tablet) {
            padding: 8px;
        }

        @media (max-width:$mobile) {
            flex-direction: row;
            padding: 8px 0;
            height: unset;
            border-color: $highlightColor;
        }

    }

    &__title {
        display: flex;
        flex-direction: column;
        gap: 16px;
        font-family: Gotham Pro;
        font-weight: 500;
        text-align: center;

        @media (max-width: em(1200)) {
            font-size: 14px;
        }

        @media (max-width:$tablet) {
            padding: 12px 0;
        }

        @media (max-width:$mobile) {
            align-items: flex-start;
            gap: 12px;
            font-size: 20px;
        }
    }

    &__price {
        font-weight: 400;

        @media (max-width: em(1200)) {
            font-size: 14px;
        }

        @media (max-width:$tablet) {
            // padding: 8px;
        }

        @media (max-width:$mobile) {
            font-size: 16px;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        @media (max-width:$mobile) {
            display: none;

            ._plan-open & {
                display: block;
            }
        }
    }

    &__item {
        padding: 16px;
        width: 100%;
        font-size: 16px;
        line-height: 1.2;
        text-align: center;
        border-bottom: 1px solid $bgColor-2;

        &._not-available {
            @media (max-width:$mobile) {
                opacity: .5;
            }
        }

        @media (max-width: em(1200)) {
            font-size: 14px;
        }

        @media (max-width:$tablet) {
            padding: 8px;
            font-size: 12px;
        }

        @media (max-width:$mobile) {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 20px;
            padding: 16px 0;
            font-size: 16px;

        }

        @media (max-width:$mobileSmall) {
            // font-size: 14px;
        }

        span {
            &:first-child {
                text-align: left;
                font-weight: 400;

                @media (min-width:$mobile) {
                    display: none;
                }
            }

            &:last-child {
                @media (max-width:$mobile) {
                    color: $highlightColor-2;
                    font-weight: 700;
                }
            }
        }

    }

    &__button {
        display: flex;
        align-items: center;
        margin: 20px auto 0;
        width: 90%;
        font-size: 16px;
        background-color: $highlightColor;

        @media (max-width: em(1200)) {
            font-size: 14px;
        }

        @media (max-width:$tablet) {
            padding: 8px;
        }

        @media (max-width:$mobile) {
            display: none;
            margin: 40px auto 0;

            ._plan-open & {
                display: block;
            }
        }

        @media (max-width:$mobile) {
            padding: 16px;
            font-size: 20px;
        }

        @media (any-hover: hover) {
            &:hover {
                // color: $mainColor;
                background-color: $mainColor;
                // border-color: $mainColor;
            }
        }
    }

    &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        width: 30px;
        height: 30px;
        background-color: $textColor;
        border-radius: 50%;
        transition: all 0.3s ease;

        @media (min-width:$mobile) {
            display: none;
        }

        ._plan-open & {
            transform: rotate(45deg);
            background-color: $highlightColor;
        }

        svg path {
            // stroke: #fff;
            fill: #fff;
        }
    }
}

.range-wrapper {
    flex: 1 1 50%;
    width: 50%;
    display: flex;
    align-items: center;
    gap: 12px;

    @media (max-width:$mobile) {
        width: 100%;
        gap: 8px;
    }
}

.range__slider {
    flex: 1 1 auto;
    position: relative;
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #DADADA;

    &::before,
    &::after {
        position: absolute;
        color: $mainColor;
        font-size: 12px;
    }

    &::before {
        content: attr(data-min);
        left: 10px;
    }

    &::after {
        content: attr(data-max);
        right: 10px;
        padding-left: 10px;
    }

    .length__title::after {
        content: attr(data-length);
        position: absolute;
        right: -16px;
        font-variant-numeric: tabular-nums;
        color: $mainColor;
    }
}

.slider-input {
    -webkit-appearance: none;
    width: calc(100% - 70px);
    height: 2px;
    border-radius: 5px;
    background: #dadada;
    outline: none;
    padding: 0;
    margin: 0;
    cursor: pointer;

    @media (max-width:$mobile) {
        margin-right: 10px;
        width: calc(100% - 40px);
    }

    // Range Handle
    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: $highlightColor;
        cursor: pointer;
        transition: all 0.15s ease-in-out;

        &:hover {
            transform: scale(1.2);
        }
    }

    &::-moz-range-thumb {
        width: 20px;
        height: 20px;
        border: 0;
        border-radius: 50%;
        background: $highlightColor;
        cursor: pointer;
        transition: background 0.15s ease-in-out;

        &:hover {
            background: $highlightColor;
        }
    }
}

.slider-count {
    flex: 0 0 90px;
    padding: 8px 20px;
    min-height: 44px;
    color: $mainColor;
    @include adaptiveValue("font-size", 16, 14);
    font-weight: 300;
    border-radius: 10px;
    border: 1px solid #DADADA;
    outline: none;
    transition: 0.3s ease border-color;
}