.delivery {

    &__title {
        @include adaptiveValue("margin-bottom", 32, 16);
    }

    &__subtitle {
        margin-bottom: 30px;
        font-weight: 600;
        text-align: center;

        span {
            color: $highlightColor;
        }
    }

    &__slider {
        display: flex;
        flex-direction: column;
    }

    &__wrapper {}

    &__slide {}
}

.delivery-slider {
    display: flex;
    flex-direction: column;

    &__navigation {
        margin: 0;
        align-self: flex-end;
    }
}