.expertise {

    &__separator {}
}

.grid-expertise {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-bottom: 50px;

    @media (max-width:$tablet) {
        grid-template-columns: repeat(2, 1fr);
        gap: 18px;
    }

    @media (max-width:$mobile) {
        grid-template-columns: 1fr;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 4px;
        padding-left: 20px;

        li {
            list-style: disc;
        }
    }

    &__title {
        margin-bottom: 20px;
    }

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // grid-row: span 5;
        padding: 30px 30px;
        background-color: $bgColor-2;
        border-radius: 30px;
        @include adaptiveValue("font-size", 20, 16);
        line-height: 1.3;
        font-weight: 300;

        @media (max-width:$mobile) {
            align-items: flex-start;
        }

        @media (max-width:$mobileSmall) {
            border-radius: 20px;
        }

        &._black {
            color: #fff;
            background-color: $mainColor;
        }

        &._highlight {
            color: #fff;
            background-color: $highlightColor;
        }

        &._highlight-2 {
            color: #fff;
            background-color: $highlightColor-2;
        }
    }

    &__text {}
}

.news-expertise {

    ul {
        padding-left: 0;

        li {
            list-style: none;
        }
    }

    &__item {
        display: flex;
        gap: 20px;
        padding: 60px 0;
        border-bottom: 1px solid #dadada;

        @media (max-width:$mobile) {
            padding: 30px 0;
        }

        @media (max-width:$mobileSmall) {
            padding: 20px 0;
        }
    }

    &__year {
        @include adaptiveValue("font-size", 40, 16);
        line-height: 0.8;
        font-weight: 700;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__agency {}

    &__title {
        font-family: "Gotham Pro";
        @include adaptiveValue("font-size", 40, 32);
        font-weight: 500;
    }

    &__text {
        @include adaptiveValue("font-size", 20, 16);
        line-height: 1.3;
    }
}