.page-hero {

    &__title {
        margin-bottom: 20px;

        @media (max-width:$mobileSmall) {
            margin-bottom: 16px;
        }
    }

    &__list {
        padding-left: 20px;
        text-transform: lowercase;
        @include adaptiveValue("font-size", 24, 16);
        font-weight: 500;

        @media (max-width:$mobileSmall) {
            display: none;
        }

        li {
            list-style: disc;
        }
    }

    &__text {
        position: relative;
        margin-bottom: 32px;
        padding-left: 20px;
        line-height: 1.3;

        @media (min-width:$tablet) {
            max-width: 75%;
        }

        @media (max-width:$mobileSmall) {
            margin-bottom: 21px;
            font-weight: 500;
        }

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 5px;
            height: 90%;
            background-color: $highlightColor;
            transform: translateY(5%);
        }

        p {
            margin-bottom: 20px;
        }
    }

    &__nav {
        margin-bottom: 42px;

        @media (max-width:$mobileSmall) {
            margin-bottom: 21px;
        }
    }

    &__company {
        padding: 54px;
        background-color: $bgColor-2;
        border-radius: 30px;

        @media (max-width:$mobile) {
            padding: 20px;
            border-radius: 20px;
        }

        p {
            margin: 0 auto;
            max-width: 750px;
            @include adaptiveValue("font-size", 24, 16);
            line-height: 1.3;
            font-weight: 500;
        }
    }

    &__licenses {
        margin: 0 auto 50px;
        padding: 65px 50px;
        max-width: 900px;
        color: #fff;
        background-color: $highlightColor-2;
        border-radius: 30px;
        font-family: "Gotham Pro";
        @include adaptiveValue("font-size", 22, 16);
        font-weight: 500;

        @media (max-width:$mobile) {
            margin: 0 auto 30px;
            padding: 32px;
            border-radius: 18px;
        }

        @media (max-width:$mobileSmall) {
            padding: 24px;
        }
    }

    &__search {}
}

.select-page__form {
    display: flex;
    margin-bottom: 24px;

    @media (max-width:$mobileSmall) {
        margin-bottom: 16px;
    }
}

.search-news {

    &__form {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        @media (min-width:$mobileSmall) {
            height: 180px;
            background-image: url(../img/news/search-bg.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            border-radius: 30px;
        }
    }

    &__wrapper {
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 12px 24px;
        width: 640px;

        background-color: $highlightColor;
        border-radius: 15px;

        @media (min-width:$mobileSmall) {
            max-width: calc(100% - 40px);
        }
    }

    &__input {
        flex: 1 1 auto;
        color: #fff;
        background-color: transparent;
        font-weight: 500;
        line-height: 1;

        @media (max-width:$mobileSmall) {
            font-size: 16px;
        }

        &::placeholder {
            color: #fff;
        }

        &:focus {
            outline: none;
        }
    }

    svg {
        flex: 0 0 20px
    }

    &__submit {
        display: flex;
    }
}