section#expertise.expertise
    .expertise__container
        .expertise__body
            h2.section-title.expertise__title Экспертиза
            ul.expertise__grid.grid-expertise
                li.grid-expertise__item._highlight-2(data-aos="fade-up", data-aos-duration="750")
                    | Мы&nbsp;являемся партнёрами и&nbsp;регулярно проходим 
                    | обучение и&nbsp;сертификацию у&nbsp;ключевых производителей 
                    | программного обеспечения и оборудования: Positive Technologies, 
                    | «Код безопасности», «Лаборатория Касперского», UserGate, «ИнфоТеКС» и&nbsp;др.
                li.grid-expertise__item(data-aos="fade-up", data-aos-duration="750")
                    | Наша лаборатория по&nbsp;специальным проверкам и&nbsp;специальным 
                    | исследованиям имеет все&nbsp;необходимые допуски, разрешения и&nbsp;лицензии. 
                    | Помещение оснащено современным специальным оборудованием 
                    | и&nbsp;необходимой степенью защищённости.
                li.grid-expertise__item(data-aos="fade-up", data-aos-duration="750")
                    p.grid-expertise__title
                        | Имеем все необходимые сертификаты и лицензии для нашей деятельности:
                    ul.grid-expertise__list 
                        li Федеральная служба безопасности Российской Федерации.
                        li Федеральная служба по техническому и экспортному контролю.
                        li Министерство обороны Российской Федерации.

            .separator.about__separator

            .expertise__news.news-expertise
                ul.news-expertise__list
                    li.news-expertise__item
                        span.news-expertise__year 2023
                        .news-expertise__content 
                            .news-expertise__agency 
                                h3.news-expertise__title TAdviser
                                p.news-expertise__text 
                                    | «Крупнейшие ИБ-компании в России»
                            .news-expertise__agency 
                                h3.news-expertise__title CNews
                                p.news-expertise__text 
                                    | «Крупнейшие поставщики решений для защиты информации»,
                                    br 
                                    | «Крупнейшие поставщики IT-решений для госсектора»
                    li.news-expertise__item
                        span.news-expertise__year 2022
                        .news-expertise__content 
                            .news-expertise__agency 
                                h3.news-expertise__title TAdviser
                                p.news-expertise__text 
                                    | «Рынок ИТ-услуг и ИТ-аутсорсинга в России»
                            .news-expertise__agency 
                                h3.news-expertise__title CNews
                                p.news-expertise__text 
                                    | «Крупнейшие компании России в сфере защиты информации»
                    li.news-expertise__item
                        span.news-expertise__year 2021
                        .news-expertise__content 
                            .news-expertise__agency 
                                h3.news-expertise__title TAdviser
                                p.news-expertise__text 
                                    | «Крупнейшие поставщики решений в сфере информационной безопасности в России»
                            .news-expertise__agency 
                                h3.news-expertise__title CNews
                                p.news-expertise__text 
                                    | «Крупнейшие поставщики ИКТ в госсектор»,
                                    br
                                    | «Крупнейшие поставщики ИТ-услуг»
                    li.news-expertise__item
                        span.news-expertise__year 2020
                        .news-expertise__content 
                            .news-expertise__agency 
                                h3.news-expertise__title TAdviser
                                p.news-expertise__text 
                                    | «Крупнейшие ИТ-аутсорсеры в России»,
                                    br
                                    | «Крупнейшие ИТ-поставщики в госсекторе России по выручке»,
                                    br
                                    | «Крупнейшие поставщики ИТ-услуг»,
                                    br
                                    |   «Крупнейшие поставщики ИТ-решений из реестра отечественного ПО»;
                            .news-expertise__agency 
                                h3.news-expertise__title CNews
                                p.news-expertise__text 
                                    | «Крупнейшие поставщики в области комплексных проектов построения инфраструктуры зданий и сооружений»,
                                    br
                                    | «Крупнейшие интеграторы в области инженерной инфраструктуры и систем физической безопасности»,
                                    br
                                    | «Крупнейшие поставщики ИТ-решений для госсектора»
                    li.news-expertise__item
                        span.news-expertise__year 2019
                        .news-expertise__content 
                            .news-expertise__agency 
                                h3.news-expertise__title TAdviser
                                p.news-expertise__text 
                                    | «Крупнейшие поставщики услуг ИТ-аутсорсинга»,
                                    br
                                    | «Крупнейшие поставщики ИТ-услуг»,
                                    br
                                    | «Крупнейшие ИТ-аутсорсеры в России»
                            .news-expertise__agency 
                                h3.news-expertise__title CNews
                                p.news-expertise__text 
                                    | «Крупнейшие системные интеграторы России: построение ИТ-инфраструктуры»