section#what-we-do.what-we-do
    .what-we-do__container
        .what-we-do__body
            h2.section-title._with-text.what-we-do__title Что мы делаем
            p.section-subtitle.simple__subtitle 
                | Мы развиваем наши ключевые компетенции по&nbsp;направлениям:     
            .simple__slider.swiper.delivery-slider
                .simple__wrapper.swiper-wrapper
                    .simple__slide.swiper-slide.slide-simple
                        p.slide-simple__text 
                            | Подбор и поставка лицензионного программного обеспечения и оборудования
                    .simple__slide.swiper-slide.slide-simple
                        p.slide-simple__text 
                            | Проектирование, внедрение и обслуживание ИТ-инфраструктуры
                    .simple__slide.swiper-slide.slide-simple
                        p.slide-simple__text 
                            | Проведение специальных проверок и специальных исследований технических средств
                    .simple__slide.swiper-slide.slide-simple
                        p.slide-simple__text 
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque ullam facere similique cupiditate voluptatibus 

                .swiper__navigation.simple-swiper__navigation.delivery-swiper__navigation
                    .prev
                        include ../icons/_arrow-prev
                    .next
                        include ../icons/_arrow-next