section#calculator.calculator
    .calculator__container 
        h2.section-title.calculator__title Цены и тарифы
        .calculator__body
            form(action="#", method="post").calculator__price.price-calculator
                .price-calculator__field
                    p.price-calculator__text 
                        | Компьютерное оборудование<br>
                        span | компьютеры, ноутбуки, моноблоки, тонкие клиенты, пользователи |
                    .range-wrapper
                        .length.range__slider(data-min='0' data-max='99')
                            input.slider-input(type='range' min='0' max='99' value='0')
                        input#price-item-1.slider-count(type="number", min="0", max="99", value="0")
                .price-calculator__field
                    p.price-calculator__text 
                        | Серверное оборудование<br>
                        span | физические и виртуальные серверы, службы или сервисы |
                    .range-wrapper
                        .length.range__slider(data-min='0' data-max='300')
                            input.slider-input(type='range' min='0' max='300' value='0')
                        input#price-item-2.slider-count(type="number", min="0", max="300", value="0")
                .price-calculator__field
                    p.price-calculator__text 
                        | Оргтехника и сетевое оборудование<br>
                        span | принтеры, сканеры, копиры, маршрутизаторы, коммутаторы |
                    .range-wrapper
                        .length.range__slider(data-min='0' data-max='999')
                            input.slider-input(type='range' min='0' max='999' value='0')
                        input#price-item-3.slider-count(type="number", min="0", max="999", value="0")
                .price-calculator__field
                    p.price-calculator__text 
                        | Количество филиалов<br>
                        span | Филиалы в Москве и Московской области |
                    .range-wrapper
                        .length.range__slider(data-min='0' data-max='999')
                            input.slider-input(type='range' min='0' max='999' value='0')
                        input#price-item-4.slider-count(type="number", min="0", max="999", value="0")
                .price-calculator__field
                    span.price-calculator__text Режим IT-обслуживания
                    select#MaintenanceMode.price-calculator__select
                        option(value='8x5') 8x5
                        option(value='12x7') 12x7
                        option(value='24x7') 24x7



                    //- span Компьютерное оборудование<br>(Компьютеры, ноутбуки, моноблоки, тонкие клиенты, пользователи)
                    //- .range-wrapper
                    //-     span.range-limit 0
                    //-     input#quantity-range-1(type="range", name="quantity", min="0", max="99", step="1" placeholder="0")
                    //-     span.range-limit 99
                    //- input#quantity-number-1(type="number", name="quantity", min="0", max="99").price-calculator__input

                //- .price-calculator__field
                //-     input#compQuantity.price-calculator__input(type="number", name="quantity", min="0", max="99" placeholder="Компьютерное оборудование")
                //-     span.price-calculator__text Компьютеры, ноутбуки, моноблоки, тонкие клиенты, пользователи
                //- .price-calculator__field
                //-     input#serverQuantity.price-calculator__input(type="number", name="quantity", min="0", max="300" placeholder="Серверное оборудование")
                //-     span.price-calculator__text Физические и виртуальные серверы, службы или сервисы
                //- .price-calculator__field
                //-     input#techQuantity.price-calculator__input(type="number", name="quantity", min="0", max="999" placeholder="Оргтехника и сетевое оборудование")
                //-     span.price-calculator__text Принтеры, сканеры, копиры, маршрутизаторы, коммутаторы
                //- .price-calculator__field
                //-     input#branchQuantity.price-calculator__input(type="number", name="quantity", min="0", max="999" placeholder="Количество филиалов")
                //-     span.price-calculator__text Филиалы в Москве и Московской области
                    
                
                button#calculatePlan.button._standart.price-calculator__button Рассчитать

            p.calculator__text
                | Минимальная стоимость комплексного обслуживания IT&#8209;инфраструктуры 
                | составляет 12&nbsp;000 рублей. Если у&nbsp;вас&nbsp;сложная ИТ&#8209;инфраструктура 
                | или&nbsp;вы&nbsp;хотите указать дополнительные сведения — отправьте запрос 
                | на&nbsp;консультацию, так&nbsp;как в&nbsp;данном случае на&nbsp;цену влияют и&nbsp;другие 
                | факторы, которые не&nbsp;учтены в&nbsp;калькуляторе расчета. 
                | Наши сотрудники оперативно ответят вам в&nbsp;течение рабочего 
                | дня с&nbsp;9 &nbsp;утра до&nbsp;7&nbsp;вечера по&nbsp;Москве.

        .separator.separator__our-way

    #plans.plans.plans__container
        h2.section-title._with-text.plans__title Выберите тариф
        p.section-subtitle.plans__text 
            | Мы предлагаем 3 тарифа, с&nbsp;различными 
            | условиями IT&#8209;обслуживания, временем 
            | реагирования и,&nbsp;соотвественно, стоимостью.
        .plans__body.grid-plans
            .grid-plans__services
                .grid-plans__header
                ul.grid-plans__points
                    li.grid-plans__point Количество выездов
                    li.grid-plans__point Гарантированное время прибытия инженера
                    li.grid-plans__point Гарантированное время реакции на заявку
                    li.grid-plans__point Аудит ИТ-инфраструктуры в подарок
                    li.grid-plans__point Поддержка рабочих мест
                    li.grid-plans__point Обслуживание оргтехники
                    li.grid-plans__point Обслуживание телефонии
                    li.grid-plans__point Администрирование доступа в Интернет
                    li.grid-plans__point Администрирование электронной почты
                    li.grid-plans__point Поддержка серверов Windows
                    li.grid-plans__point Поддержка сетевого оборудования
                    li.grid-plans__point Резервное копирование и восстановление
                    li.grid-plans__point Формирование отчётов из Service Desk
                    li.grid-plans__point Мониторинг серверного и сетевого оборудования
                    li.grid-plans__point Обеспечение функционирования СУБД
                    li.grid-plans__point Администрирование гипервизора и виртуализации
                    li.grid-plans__point Обслуживание IP АТС
                    li.grid-plans__point Поддержка серверов Unix
                    li.grid-plans__point Поддержка сетевого оборудования уровня Enterprise
                    li.grid-plans__point Поддержка систем хранения данных
                    li.grid-plans__point Доступ к Service Desk 
                .grid-plans__bottom 
            .grid-plans__body
                form(action="#", method="post").grid-plans__plan.plan
                    .plan__header
                        h4.plan__title Стандартный
                            span.plan__price 18694 руб.
                        .plan__icon 
                            include ../icons/_plus
                    ul.plan__list 
                        li.plan__item
                            span Количество выездов
                            span ∞
                        li.plan__item
                            span Гарантированное время прибытия инженера
                            span 2&nbsp;ч.
                        li.plan__item
                            span Гарантированное время реакции на заявку
                            span 15&nbsp;мин.
                        li.plan__item
                            span Аудит ИТ-инфраструктуры в подарок
                            span +
                        li.plan__item
                            span Поддержка рабочих мест
                            span +
                        li.plan__item
                            span Обслуживание оргтехники
                            span +
                        li.plan__item
                            span Обслуживание телефонии
                            span +
                        li.plan__item
                            span Администрирование доступа в Интернет
                            span +
                        li.plan__item
                            span Администрирование электронной почты
                            span +
                        li.plan__item
                            span Поддержка серверов Windows
                            span +
                        li.plan__item
                            span Поддержка сетевого оборудования
                            span +
                        li.plan__item
                            span Резервное копирование и восстановление
                            span +
                        li.plan__item
                            span Формирование отчётов из Service Desk
                            span +
                        li.plan__item
                            span Мониторинг серверного и сетевого оборудования
                            span +
                        li.plan__item._not-available
                            span Обеспечение функционирования СУБД
                            span -
                        li.plan__item._not-available
                            span Администрирование гипервизора и виртуализации
                            span -
                        li.plan__item._not-available
                            span Обслуживание IP АТС
                            span -
                        li.plan__item._not-available
                            span Поддержка серверов Unix
                            span -
                        li.plan__item._not-available
                            span Поддержка сетевого оборудования уровня Enterprise
                            span -
                        li.plan__item._not-available
                            span Поддержка систем хранения данных
                            span -
                        li.plan__item._not-available
                            span Доступ к Service Desk
                            span -
                    button(type="submit").button.plan__button  Отправить заявку 
                
                form(action="#", method="post").grid-plans__plan.plan
                    .plan__header
                        h4.plan__title Эффективный
                            span.plan__price 22747 руб.
                        .plan__icon 
                            include ../icons/_plus
                    ul.plan__list 
                        li.plan__item
                            span Количество выездов
                            span ∞
                        li.plan__item
                            span Гарантированное время прибытия инженера
                            span 2&nbsp;ч.
                        li.plan__item
                            span Гарантированное время реакции на заявку
                            span 15&nbsp;мин.
                        li.plan__item
                            span Аудит ИТ-инфраструктуры в подарок
                            span +
                        li.plan__item
                            span Поддержка рабочих мест
                            span +
                        li.plan__item
                            span Обслуживание оргтехники
                            span +
                        li.plan__item
                            span Обслуживание телефонии
                            span +
                        li.plan__item
                            span Администрирование доступа в Интернет
                            span +
                        li.plan__item
                            span Администрирование электронной почты
                            span +
                        li.plan__item
                            span Поддержка серверов Windows
                            span +
                        li.plan__item
                            span Поддержка сетевого оборудования
                            span +
                        li.plan__item
                            span Резервное копирование и восстановление
                            span +
                        li.plan__item
                            span Формирование отчётов из Service Desk
                            span +
                        li.plan__item
                            span Мониторинг серверного и сетевого оборудования
                            span +
                        li.plan__item
                            span Обеспечение функционирования СУБД
                            span +
                        li.plan__item
                            span Администрирование гипервизора и виртуализации
                            span +
                        li.plan__item
                            span Обслуживание IP АТС
                            span +
                        li.plan__item._not-available
                            span Поддержка серверов Unix
                            span -
                        li.plan__item._not-available
                            span Поддержка сетевого оборудования уровня Enterprise
                            span -
                        li.plan__item._not-available
                            span Поддержка систем хранения данных
                            span -
                        li.plan__item._not-available
                            span Доступ к Service Desk
                            span -
                    button(type="submit").button.plan__button Отправить заявку 
               
                form(action="#", method="post").grid-plans__plan.plan
                    .plan__header
                        h4.plan__title Максимальный
                            span.plan__price 26954 руб.
                        .plan__icon 
                            include ../icons/_plus
                    ul.plan__list 
                        li.plan__item
                            span Количество выездов
                            span ∞
                        li.plan__item
                            span Гарантированное время прибытия инженера
                            span 2&nbsp;ч.
                        li.plan__item
                            span Гарантированное время реакции на заявку
                            span 15&nbsp;мин.
                        li.plan__item
                            span Аудит ИТ-инфраструктуры в подарок
                            span +
                        li.plan__item
                            span Поддержка рабочих мест
                            span +
                        li.plan__item
                            span Обслуживание оргтехники
                            span +
                        li.plan__item
                            span Обслуживание телефонии
                            span +
                        li.plan__item
                            span Администрирование доступа в Интернет
                            span +
                        li.plan__item
                            span Администрирование электронной почты
                            span +
                        li.plan__item
                            span Поддержка серверов Windows
                            span +
                        li.plan__item
                            span Поддержка сетевого оборудования
                            span +
                        li.plan__item
                            span Резервное копирование и восстановление
                            span +
                        li.plan__item
                            span Формирование отчётов из Service Desk
                            span +
                        li.plan__item
                            span Мониторинг серверного и сетевого оборудования
                            span +
                        li.plan__item
                            span Обеспечение функционирования СУБД
                            span +
                        li.plan__item
                            span Администрирование гипервизора и виртуализации
                            span +
                        li.plan__item
                            span Обслуживание IP АТС
                            span +
                        li.plan__item
                            span Поддержка серверов Unix
                            span +
                        li.plan__item
                            span Поддержка сетевого оборудования уровня Enterprise
                            span +
                        li.plan__item
                            span Поддержка систем хранения данных
                            span +
                        li.plan__item
                            span Доступ к Service Desk
                            span +
                    button(type="submit").button.plan__button Отправить заявку 
                    
