section#components.components
    .components__container 
        h2.section-title.components__title Компоненты IT-аутсорсинга
        ul.components__list
            li.components__item
                p Аудит ИТ-инфраструктуры
            li.components__item
                p Обслуживание компьютеров
            li.components__item
                p Обслуживание серверов
            li.components__item
                p Обслуживание оргтехники
            li.components__item
                p Обеспечение возможности интернет-доступа
            li.components__item
                p Обеспечение функционирования электронной почты
            li.components__item
                p Эксплуатация файловых хранилищ общего пользования
            li.components__item
                p Обеспечение функционирования баз данных
            li.components__item
                p Обеспечение информационной безопасности
            li.components__item
                p Управление ИТ-инфраструктурой бизнеса
            li.components__item
                p Обучение и консультации пользователей
        
        .separator.separator__components