section#faq.faq
    .faq__container
        .faq__body
            h2.section-title.faq__title F.A.Q.
        //- .separator.faq__separator
        .accordion.faq__accordion
            details.accordion__details(open)
                summary У вас есть круглосуточная поддержка?
                p 
                    | Да, мы&nbsp;предоставляем такую дополнительную услугу, 
                    | но всегда предупреждаем наших клиентов, что&nbsp;стоимость 
                    | обслуживания становится существенно дороже режима 8/5&nbsp;или&nbsp;12/7.
                    | При этом&nbsp;настройку системы круглосуточного мониторинга отслеживания 
                    | ключевых узлов ИТ&#8209;инфраструктуры мы&nbsp;проводим абсолютно для&nbsp;всех&nbsp;клиентов, 
                    | независимо от&nbsp;стоимости контракта и&nbsp;выбранного режима обслуживания.

            details.accordion__details
                summary Почему у вас нет регулярных плановых выездов?
                p  
                    | У&nbsp;нас нет&nbsp;ограничений на&nbsp;количество выездов кклиенту при&nbsp;обслуживании. 
                    | Но&nbsp;наша цель — наладить непрерывность работы ИТ&#8209;инфраструктуры заказчика, 
                    | чтобы устранять возможные проблемы в&nbsp;удалённом формате. 
                    | Этот&nbsp;подход позволяет решать задачи с&nbsp;большей оперативностью. 
                    | Но&nbsp;не&nbsp;отменяет срочных ситуаций, когда выезд, действительно, необходим. 
                    | Если&nbsp;клиент считает, что&nbsp;ему&nbsp;необходим плановый выезд — достаточно обратиться 
                    | в&nbsp;поддержку и&nbsp;договориться на&nbsp;удобное время.
            
            details.accordion__details
                summary Если у нас всего 10 компьютеров, стоимость обслуживания ИТ-инфраструктуры может быть ниже?
                p  
                    | Мы&nbsp;стараемся идти навстречу клиентам, и,&nbsp;если ИТ-инфраструктура 
                    | не&nbsp;требует частого регулярного обслуживания, предлагаем услугу ИТ-аутсорсинга по&nbsp;схеме 
                    | почасовой оплаты. В&nbsp;рамках обслуживания по&nbsp;схеме почасовой оплаты 
                    | реализуется инцидентная поддержка по&nbsp;заявкам. Аудит, регламентные работы 
                    | и&nbsp;мониторинг инфраструктуры не&nbsp;проводятся – данные услуги можно заказать отдельно.
            
            details.accordion__details
                summary Какие регионы вы&nbsp;обслуживаете?
                p 
                    | Мы работаем со&nbsp;всеми регионами России. 
                    | Стоимость и&nbsp;другие условия поддержки ИТ&#8209;инфраструктуры 
                    | бизнеса зависят от&nbsp;уровня требуемого SLA и&nbsp;сложности инфраструктуры заказчика.
            
            details.accordion__details
                summary Вы обслуживаете «1C»?
                p 
                    | Мы оказываем содействие в&nbsp;обновлении и&nbsp;администрировании 
                    | типовых конфигураций: создание новых пользователей и&nbsp;баз, 
                    | назначение прав, подключение баз&nbsp;и&nbsp;обновление платформы.
            
            details.accordion__details
                summary Что входит в&nbsp;аудит, указанный в&nbsp;контракте на&nbsp;обслуживание?
                p 
                    | В&nbsp;первый день обслуживания, параллельно с&nbsp;оказанием услуг 
                    | поддержки, мы&nbsp;начинаем выполнять аудит IT&#8209;инфраструктуры, 
                    | который включает:
                ul 
                    li 
                        | обследование всех серверов (физических и&nbsp;виртуальных), 
                        | ролей, которые они&nbsp;выполняют, их&nbsp;состояние, 
                        | настройки и&nbsp;ошибки, установленное программное обеспечение;
                    li обследование сетевых устройств и&nbsp;их&nbsp;настроек;
                    li создание схемы сети (L3);
                    li обследование устройств пользователей и&nbsp;их&nbsp;состояния;
                    li подготовка отчёта об&nbsp;обследовании.
                p
                    | Конечным результатом аудита перед заключением договора на&nbsp;аутсорсинг 
                    | является документ, который предназначен руководству компании&#8209;клиента. 
                    | В&nbsp;нём&nbsp;фиксируется текущее состояние инфраструктуры и&nbsp;все&nbsp;обнаруженные ошибки, 
                    | уязвимости и&nbsp;слабые места. Мы&nbsp;в&nbsp;своих системах описываем вашу 
                    | инфраструктуру для&nbsp;сотрудников поддержки. Когда инженер сталкивается 
                    | с&nbsp;заявкой, он&nbsp;получает доступ к&nbsp;информации и&nbsp;не&nbsp;тратит время на&nbsp;её&nbsp;поиск и&nbsp;уточнение. 
                    | Все&nbsp;данные надёжно защищены средствами защиты информации и&nbsp;организационными мерами.

            details.accordion__details
                summary За&nbsp;нами&nbsp;будет закреплён выделенный инженер?
                p  
                    | Наш подход к&nbsp;обслуживанию IT-инфраструктуры основан на&nbsp;3&nbsp;линиях 
                    | поддержки и&nbsp;позволяет получить наиболее квалифицированное 
                    | решение практически любых задач:
                p 
                    | 1&nbsp;линия поддержки — инженеры решают стандартные задачи, 
                    | связанные с&nbsp;компьютерами и&nbsp;типовыми проблемами с&nbsp;серверным оборудованием.
                p 
                    | 2&nbsp;линия поддержки — инженеры работают с&nbsp;заявками 
                    | с&nbsp;более высоким уровнем сложности и&nbsp;требующими 
                    | углубленных знаний некоторых решений, например 
                    | VMware, Linux, терминальные серверы и&nbsp;т.&nbsp;п.
                p 
                    | 3&nbsp;линия поддержки — инженеры занимаются узкоспециализированными 
                    | задачами, например по&nbsp;VDI, Microsoft Azure, серверам баз&nbsp;данных, 
                    | средствам защиты информации и&nbsp;т.&nbsp;д.
                p 
                    | В&nbsp;процессе работы вся&nbsp;информация об&nbsp;инфраструктуре компании 
                    | вносится в&nbsp;специализированные системы, где&nbsp;её&nbsp;быстро может 
                    | получить любой инженер в&nbsp;рамках выполнения заявки. 
                    | Такой подход позволяет эффективно и&nbsp;оперативно решать задачи наших клиентов. 
                    | Закрепление инженера при&nbsp;оказании услуг ИТ&#8209;аутсорсинга приводит к&nbsp;тому, 
                    | что&nbsp;этот&nbsp;закреплённый инженер является точкой отказа, так&nbsp;как&nbsp;все&nbsp;знания, 
                    | навыки и&nbsp;доступы управляются преимущественно одним человеком.

            details.accordion__details
                summary За нами будет закреплён выделенный менеджер?
                p 
                    | Да, после подписания контракта вам&nbsp;будет назначен выделенный 
                    | аккаунт-менеджер, который будет оказывать помощь по&nbsp;всем 
                    | организационным и&nbsp;финансовым вопросам в&nbsp;рамках договора обслуживания.

            details.accordion__details
                summary Какое ПО вы&nbsp;устанавливаете при&nbsp;оказании услуг аутсорсинга? Используете ли&nbsp;взломанные программы?
                p  
                    | Мы не&nbsp;используем нелицензионное программное обеспечение, 
                    | так&nbsp;как&nbsp;это&nbsp;противоречит закону и&nbsp;может привести 
                    | к&nbsp;серьезным последствиям для&nbsp;бизнеса. Благодаря использованию 
                    | лицензированных решений вы&nbsp;получаете:
                ul 
                    li гарантии безопасности и&nbsp;стабильности работы;
                    li квалифицированную техническую поддержку от&nbsp;производителя ПО;
                    li своевременное обновление версий.

            details.accordion__details
                summary Каким образом вы храните пароли к ИТ&#8209;инфраструктурам клиентов?
                p  
                    | Мы разработали специальную систему хранения паролей: 
                    | ни&nbsp;один инженер не&nbsp;имеет полного доступа ко&nbsp;всем паролям сразу. 
                    | В&nbsp;случае появления заявки инженер получает доступ к&nbsp;службе 
                    | или&nbsp;сервису клиента только непосредственно перед началом 
                    | её&nbsp;выполнения. Система блокирует попытки массового просмотра паролей инженером. 
                    | Вся&nbsp;информация хранится в&nbsp;зашифрованном виде, а&nbsp;права 
                    | к&nbsp;доступам настроены в&nbsp;соответствии с&nbsp;компетенциями инженеров. 
                    | Например, инженер 1&nbsp;линии не&nbsp;может получить доступ от&nbsp;сервера Exchange. 
                    | Разработанная система защищена снаружи средствами защиты.
            
            details.accordion__details
                summary Минимальная цена ИТ&#8209;аутсорсинга
                p  
                    | Если у&nbsp;вас&nbsp;небольшая компания — вы&nbsp;можете 
                    a(href="#calculator") рассчитать приблизительную стоимость обслуживания на&nbsp;ИТ&#8209;калькуляторе
                    | и&nbsp;посмотреть существующие тарифы — конкретно для&nbsp;вашего бизнеса. 
                    | Минимальная цена составляет 14 000 руб. Если у&nbsp;вас&nbsp;более сложная 
                    | IT&#8209;инфраструктура или&nbsp;вам&nbsp;необходимы особые условия — 
                    a(href="#consultation") отправьте запрос
                    | или&nbsp;позвоните нам и&nbsp;получите персональный расчёт.