section#page-hero.page-hero
    .page-hero__container
        - const autsorsingPage = true;
        include ../_breadcrumbs

        .page-hero__content
            h1.main-title.page-hero__title IT&#8209;аутсорсинг
            .page-hero__text
                p.main-subtitle 
                    | Предоставляем услуги аутсорсинга IT&#8209;инфраструктуры 
                    | в&nbsp;Москве и&nbsp;области 
                    mark от&nbsp;12 000&nbsp;руб./мес.
                ul.page-hero__list
                    li Неограниченное количество выездов
                    li Реакция на заявки 
                        mark до&nbsp;15&nbsp;минут
                    li 
                        mark 90%&nbsp;заявок
                        |  
                        | решаем в&nbsp;течение часа
            
            nav.hero__nav.nav-hero.page-hero__nav
                ul.nav-hero__list
                    li.nav-hero__item
                        a(href="#calculator").nav-hero__link Калькулятор
                    li.nav-hero__item
                        a(href="#components").nav-hero__link Состав услуги            
                    li.nav-hero__item
                        a(href="#our-way").nav-hero__link Наш подход            
                    li.nav-hero__item
                        a(href="#why-we").nav-hero__link Почему мы
                    li.nav-hero__item
                        a(href="#feedback").nav-hero__link Отзывы
                    li.nav-hero__item
                        a(href="#faq").nav-hero__link F.A.Q