section#our-way.our-way
    .our-way__container 
        h2.section-title._with-text.our-way__title Наш подход
        p.section-subtitle.our-way__text 
            | Наша стратегия оказания услуг в&nbsp;рамках 
            | ИТ&#8209;аутсорсинга основана на&nbsp;ITIL и включает в&nbsp;себя:
        ul.our-way__grid.grid-our-way
            li.grid-our-way__item._black(data-aos="fade-up", data-aos-duration="750") 
                p.grid-our-way__text Обслуживание по&nbsp;SLA
            li.grid-our-way__item._highlight(data-aos="fade-up", data-aos-duration="750") 
                p.grid-our-way__text Система мониторинга 24Х7
            li.grid-our-way__item(data-aos="fade-up", data-aos-duration="750") 
                p.grid-our-way__text Система учёта данных Service Desk
            li.grid-our-way__item(data-aos="fade-up", data-aos-duration="750") 
                p.grid-our-way__text Неограниченное количество выездов
            li.grid-our-way__item._highlight-2(data-aos="fade-up", data-aos-duration="750") 
                p.grid-our-way__text Система защиты доступов
            li.grid-our-way__item._highlight(data-aos="fade-up", data-aos-duration="750") 
                p.grid-our-way__text Аренда серверов
            li.grid-our-way__item(data-aos="fade-up", data-aos-duration="750") 
                p.grid-our-way__text 3&nbsp;линии ИТ&#8209;поддержки
            li.grid-our-way__item(data-aos="fade-up", data-aos-duration="750") 
                p.grid-our-way__text Реакция на&nbsp;заявку до&nbsp;15&nbsp;минут
            li.grid-our-way__item._highlight(data-aos="fade-up", data-aos-duration="750") 
                p.grid-our-way__text Выделенный менеджер
            li.grid-our-way__item._highlight-2(data-aos="fade-up", data-aos-duration="750") 
                p.grid-our-way__text NDA
        
        .separator.separator__our-way