section#why-we.why-we
    .why-we__container
        .why-we__body
            .why-we__left
                h2.why-we__title Почему с нами выгодно сотрудничать?
                a(href="#consultation").button._standart.why-we__button Консультация
            .why-we__right 
                ul.why-we__list
                    li.why-we__item(data-aos="fade-up", data-aos-duration="750")
                        p 
                            | Штат технической поддержки состоит 
                            | из опытных сертифицированных инженеров
                    li.why-we__item(data-aos="fade-up", data-aos-duration="750")
                        p 
                            | Фиксируем стоимость оказания услуг 
                            | в договоре (нет внезапных расходов на обслуживание)
                    li.why-we__item._highlight-2(data-aos="fade-up", data-aos-duration="750")
                        p 
                            | 90% заявок от пользователей решаем в течение часа
                    li.why-we__item(data-aos="fade-up", data-aos-duration="750")
                        p 
                            | Тщательно контролируем качество обслуживания клиентов
                a(href="#consultation").button._standart.why-we__button Консультация
        .separator.separator__why-we