section#capabilities.capabilities
    .capabilities__container
        .capabilities__body
            h2.section-title.capabilities__title Что мы можем?
        .separator.capabilities__separator
        .accordion.capabilities__accordion
            details.accordion__details(open)
                summary Аудит текущей инфраструктуры
                p Готовые аудитории - это пользователи, а точнее их рекламные идентификаторы, которые объединены в сегменты по разному количеству параметров. На эти идентификаторы можно настроить таргетированную рекламу в VK Рекламе, Яндекс. Директ, Mytarget, Getintent и др. Эти идентификаторы вы сможете увидеть у себя в рекламном кабинете в обезличенном виде, поэтому никакие другие действия, как звонок или отправку смс, вы совершить не сможете. Другими словами, готовые аудиторию с минимальными затратами помогут выстроить и точнее найти свою целевую аудиторию в интернете.
            details.accordion__details
                summary Разработка рабочей, проектной и исполнительной документации
                p  Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus facere odio iste facilis, non illum deleniti, voluptate tenetur quo, ex sit? Rem eos qui nisi hic consequuntur sit, necessitatibus ad!
            details.accordion__details
                summary Поставка ИТ-оборудования
                p  Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus facere odio iste facilis, non illum deleniti, voluptate tenetur quo, ex sit? Rem eos qui nisi hic consequuntur sit, necessitatibus ad!
            details.accordion__details
                summary Гарантийное обслуживание
                p  Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus facere odio iste facilis, non illum deleniti, voluptate tenetur quo, ex sit? Rem eos qui nisi hic consequuntur sit, necessitatibus ad!
            details.accordion__details
                summary Техническая поддержка
                p  Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus facere odio iste facilis, non illum deleniti, voluptate tenetur quo, ex sit? Rem eos qui nisi hic consequuntur sit, necessitatibus ad!
            details.accordion__details
                summary Обучение сотрудников заказчика
                p  Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus facere odio iste facilis, non illum deleniti, voluptate tenetur quo, ex sit? Rem eos qui nisi hic consequuntur sit, necessitatibus ad!