section#delivery-time.delivery
    .delivery__container
        .delivery__body
            h2.section-title.delivery__title Сроки поставки IT&#8209;оборудования
            p.delivery__subtitle 
                | В зависимости от&nbsp;места нахождения 
                br
                | продукции 
                span сроки 
                | поставки могут быть:
            
            .simple__slider.swiper.delivery-slider
                .simple__wrapper.swiper-wrapper
                    .simple__slide.swiper-slide.slide-simple
                        p.slide-simple__text 
                            span От 3 до 7 дней
                            | , если оборудование находится на&nbsp;складе.
                    .delivery__slide.swiper-slide.slide-simple
                        p.slide-simple__text 
                            span До 4 недель
                            | , если оборудование находится в&nbsp;транзите с&nbsp;завода на&nbsp;склад.
                    .delivery__slide.swiper-slide.slide-simple
                        p.slide-simple__text 
                            span От 4 недель до 6
                            | , если оборудование находится ещё на&nbsp;заводе производителя.
                    .delivery__slide.swiper-slide.slide-simple
                        p.slide-simple__text 
                            span Тут какие-то еще&nbsp;сроки 
                            | которых нет в&nbsp;макете

                .swiper__navigation.simple-swiper__navigation.delivery-swiper__navigation
                    .prev
                        include ../icons/_arrow-prev
                    .next
                        include ../icons/_arrow-next