section#registry-equipment.registry
    .registry__container
        .registry__body
            h2.section-title.registry__title Реестровое оборудование
            ul.registry__grid.grid-registry
                li.grid-registry__item
                    | Мы оказываем услуги по&nbsp;поставке оборудования, 
                    | которое входит в&nbsp;реестры Минпромторга&nbsp;РФ:
                li.grid-registry__item
                    | Единый реестр российской радиоэлектронной продукции (ПП&nbsp;РФ&nbsp;878)
                li.grid-registry__item
                    | Единый реестр российской промышленной продукции, 
                    | произведённой на&nbsp;территории&nbsp;РФ (ПП&nbsp;РФ&nbsp;719&nbsp;от&nbsp;17.07.2015)