section#why-us.why-us
    .why-us__container
        .why-us__body
            h2.section-title.why-us__title Почему мы?
            ul.why-us__grid.grid-why-us
                li.grid-why-us__item._black._tall(data-aos="fade-up", data-aos-duration="750")
                    p.grid-why-us__title 
                        | Подбор ИТ&#8209;оборудования с&nbsp;учётом целей:
                    ul.grid-why-us__list
                        li проектирование ИТ&#8209;инфраструктуры с&nbsp;нуля или&nbsp;решение узкоспециализированных задач,
                        li решения могут быть моновендорные или&nbsp;комплексные,
                        li сроки поставки и&nbsp;выделенный бюджет.
                li.grid-why-us__item._medium(data-aos="fade-up", data-aos-duration="750")
                    p.grid-why-us__text 
                        | Надёжность с&nbsp;юридической точки зрения. 
                        | Всё&nbsp;оборудование соответствует требованиям российского 
                        | законодательства и&nbsp;поставляется с&nbsp;полным пакетом необходимых документов.
                li.grid-why-us__item._highlight._medium(data-aos="fade-up", data-aos-duration="750")
                    p.grid-why-us__text 
                        | Вы можете приобрести ИТ&#8209;оборудование, прошедшее 
                        | спецпроверки и&nbsp;специсследования в нашей 
                        | лаборатории с&nbsp;современным оборудованием, с&nbsp;необходимым 
                        | пакетом документов (по&nbsp;запросу)
                li.grid-why-us__item(data-aos="fade-up", data-aos-duration="750")
                    p.grid-why-us__text 
                        | Спектр дополнительных услуг: настройка и&nbsp;обслуживание 
                        | ИТ&#8209;оборудования, а&nbsp;также поставка и&nbsp;внедрение сопутствующего
                li.grid-why-us__item._medium(data-aos="fade-up", data-aos-duration="750") 
                    p.grid-why-us__text
                        | Гарантии выполнения обязательств. В&nbsp;договоре всегда прописываем стоимость 
                        | оборудования и&nbsp;сроки поставки, а&nbsp;также возможные варианты 
                        | дополнительных условий по&nbsp;технической поддержке оборудования (при&nbsp;необходимости).
                li.grid-why-us__item._highlight-2._medium(data-aos="fade-up", data-aos-duration="750")
                    p.grid-why-us__text 
                        | Предоставляем гарантийное обслуживание оборудования