<!DOCTYPE html>
html(lang="ru")
	include html/_head
	body
		.wrapper
			include html/about/_header
			main.main-content
				include html/about/_hero
				include html/about/_what-we-do
				include html/about/_expertise
				include html/_feedback
				include html/_partners
			include html/_footer
		include html/_mobile-menu
		//- include html/_popup

		//- script(src="https://rawgit.com/RobinHerbots/Inputmask/5.0.3/dist/inputmask.min.js")
		script(src="js/app.min.js")