<!DOCTYPE html>
html(lang="ru")
	include html/_head
	body
		.wrapper
			include html/autsorsing/_header
			main.main-content
				include html/autsorsing/_hero
				include html/autsorsing/_calculator
				include html/autsorsing/_components
				include html/autsorsing/_our-way
				include html/autsorsing/_why-we
				include html/_feedback
				include html/autsorsing/_faq
				include html/_consultation
			include html/_footer
		include html/_mobile-menu
		//- include html/_popup

		//- script(src="https://rawgit.com/RobinHerbots/Inputmask/5.0.3/dist/inputmask.min.js")
		script(src="js/app.min.js")