<!DOCTYPE html>
html(lang="ru")
	include html/_head
	body
		.wrapper
			include html/main/_header
			main.main-content
				include html/_hero
				include html/_services
				include html/_licenses
				include html/_recognition
				include html/_partners
				include html/_projects
				include html/_feedback
				include html/_consultation
			include html/_footer
		include html/_mobile-menu
		//- include html/_popup

		//- script(src="https://rawgit.com/RobinHerbots/Inputmask/5.0.3/dist/inputmask.min.js")
		script(src="js/app.min.js")