<!DOCTYPE html>
html(lang="ru")
	include html/_head
	body
		.wrapper
			include html/news/_header
			main.main-content
				include html/news/_hero
				include html/news/_articles
			include html/_footer
		include html/_mobile-menu
		//- include html/_popup

		//- script(src="https://rawgit.com/RobinHerbots/Inputmask/5.0.3/dist/inputmask.min.js")
		script(src="js/app.min.js")