<!DOCTYPE html>
html(lang="ru")
	include html/_head
	body
		.wrapper
			include html/recomendation/_header
			main.main-content
				include html/recomendation/_hero
				//- include html/licenses/_licenses
				//- include html/equipment/_registry
				//- include html/equipment/_why
				//- include html/equipment/_capabilities
				//- include html/_partners
				include html/_consultation
			include html/_footer
		include html/_mobile-menu
		//- include html/_popup

		//- script(src="https://rawgit.com/RobinHerbots/Inputmask/5.0.3/dist/inputmask.min.js")
		script.
			lightbox.option({
				'resizeDuration': 0,
			});

		script(src="js/app.min.js")