.feedback {

    &__body {}

    &__content {
        display: flex;
        flex-direction: column;


        @media (min-width:$mobile) {
            padding: 0 50px;
            padding-bottom: 65px;
            border-bottom: 1px solid #DADADA;
        }
    }

    &__slider {}

    &__wrapper {


        @media (min-width:$mobile) {
            margin-bottom: 20px;
        }
    }

    &__link {
        @media (max-width:$mobile) {
            display: none;
        }
    }
}

.feedback-slide {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;

    @media (max-width:$mobile) {
        gap: 40px;
    }

    &__item {
        display: flex;

        img {
            width: 250px;
            max-width: 80%;
            max-height: 100%;
        }

        @media (min-width:$tablet) {
            justify-content: flex-end;

            &:nth-child(even) {
                justify-content: flex-start;
            }
        }

        @media (max-width:$tablet) {
            justify-content: center;

            img {
                max-width: 80%;
            }
        }
    }
}

.feedback-swiper {
    &__navigation {
        margin: 0;
    }
}