.footer {
	padding: 90px 0 58px;
	background-color: $mainColor;

	@media (max-width:$tablet) {
		padding: 60px 0;
	}

	@media (max-width:$mobile) {
		padding: 40px 0;
	}

	@media (max-width:$mobileSmall) {
		padding: 22px 0;
	}

	&__top {
		display: flex;
		justify-content: space-between;
		gap: 32px;
		padding-bottom: 82px;

		@media (max-width:$tablet) {
			flex-direction: column;
			align-items: center;
			padding-bottom: 60px;
		}

		@media (max-width:$mobile) {
			padding-bottom: 40px;
		}

		@media (min-width:$tablet) {
			border-bottom: 1px solid #fff;
		}
	}

	&__top-left {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 22px;
	}

	&__nav {
		display: flex;
		gap: 50px;

		@media (max-width:$mobile) {
			gap: 30px;
		}

		@media (max-width:$mobileSmall) {
			gap: 20px;
		}

		@media (max-width: em(400)) {
			gap: 16px;
		}
	}

	&__to-top {
		position: fixed;
		right: 20px;
		bottom: 60px;
		display: flex;
		justify-content: center;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		background-color: $highlightColor;
		transition: 0.3s ease background-color;
		cursor: pointer;

		@media (any-hover: hover) {
			&:hover {
				background-color: $highlightColor-2;
			}
		}
	}
}


.logo-footer {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 27px;

	@media (max-width:$tablet) {
		align-items: center;
		gap: 12px;
		width: 200px;
	}

	img {
		max-width: 100%;
	}

	&__text {
		color: #fff;
		@include adaptiveValue("font-size", 16, 12);

		@media (max-width:$mobile) {}
	}
}

.social-icons {
	display: flex;
	align-items: center;
	gap: 31px;
	padding-left: 0;

	li {
		list-style: none;
	}

	@media (max-width:$tablet) {
		display: none;
	}

	&__icon {
		@media (any-hover: hover) {
			&:hover {
				path {
					fill: #fff;
				}
			}
		}
	}

	path {
		transition: 0.3s ease fill;
	}
}

.menu-footer {
	display: flex;
	flex-direction: column;
	gap: 18px;
	padding-left: 0;

	li {
		list-style: none;
	}

	&__item {
		color: #fff;
		@include adaptiveValue("font-size", 20, 10);
		// margin-bottom: 18px;
		transition: 0.3s ease color;

		@media (any-hover: hover) {
			&:hover {
				color: $highlightColor;
			}
		}
	}

	&__title {
		color: $highlightColor;
		font-weight: 700;
	}
}

.bottom-footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 58px;

	@media (max-width:$tablet) {
		flex-direction: column;
		gap: 15px;
		padding-top: 0;
	}

	&>* {
		color: #fff;
		font-size: 16px;
	}

	&__text {
		@include adaptiveValue("font-size", 20, 12);
	}

	&__link {
		@include adaptiveValue("font-size", 20, 12);
		transition: 0.3s ease color;

		@media (any-hover: hover) {
			&:hover {
				color: $highlightColor;
			}
		}
	}
}

.social-icons-mobile {
	display: flex;
	align-items: center;
	gap: 20px;
	margin-bottom: 20px;

	@media (min-width:$tablet) {
		display: none;
	}
}