.services {

    &__body {
        display: flex;
        flex-direction: column;
    }

    &__grid {
        margin-bottom: 27px;
    }
}

.grid-services {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 237px);
    gap: 48px;

    @media (max-width:$tablet) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 130px);
        gap: 18px;
    }

    @media (max-width:$mobile) {
        grid-template-rows: repeat(4, 91px);
    }

    &__item {
        display: flex;
        grid-column: span 2;
        padding: 32px 45px;
        background-color: $bgColor-2;
        border-radius: 30px;

        @media (max-width:$tablet) {
            padding: 20px 15px;
            grid-column: span 1;
            border-radius: 20px;

            &:nth-child(1) {
                order: 1;
            }

            &:nth-child(2) {
                order: 2;
            }

            &:nth-child(3) {
                order: 4;
            }

            &:nth-child(4) {
                order: 5;
            }

            &:nth-child(5) {
                order: 3;
            }

            &:nth-child(6) {
                order: 6;
            }

            &:nth-child(7) {
                order: 7;
            }

            &:nth-child(8) {
                order: 8;
            }
        }

        @media (max-width:$mobile) {
            padding: 12px 17px;
            border-radius: 12px;
        }

        svg {
            transition: 0.3s ease transform;

            @media (max-width:$mobile) {
                height: 10px;
            }

            path {
                fill: $mainColor;
                transition: 0.3s ease fill;
            }
        }

        @media (any-hover: hover) {
            &:hover {
                svg {
                    transform: translate(5px, -5px) scale(1.25);

                    path {
                        fill: $highlightColor;
                    }
                }
            }
        }

        &._black {
            color: #fff;
            background-color: #292929;

            path {
                fill: #fff;
            }
        }

        &._highlight {
            color: #fff;
            background-color: $highlightColor;

            path {
                fill: #fff;
            }

            @media (any-hover: hover) {
                &:hover {
                    svg {

                        path {
                            fill: $mainColor;
                        }
                    }
                }
            }
        }

        &._tall {
            grid-row: span 2;

            @media (max-width:$tablet) {
                &._mobile-tall {
                    grid-row: span 1;
                }
            }

        }

        &._wide {
            grid-column: span 3;

            @media (max-width:$tablet) {
                grid-column: span 2;
                height: 123px;
            }
        }

        &._mobile-tall {
            @media (max-width:$tablet) {
                grid-row: span 2;
            }
        }
    }

    &__title {
        // font-size: 32px;
        @include adaptiveValue("font-size", 28, 12);
        line-height: 1.4;


    }

    &__link {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    &__count {
        display: none;
        // font-size: 48px;
        line-height: 1.3;

        @include adaptiveValue("font-size", 48, 18);
    }
}