section#contacts.contacts
    .contacts__container 
        .contacts__body 
            .contacts__block.block-contacts 
                h3.block-contacts__title Контакты для связи:
                ul.block-contacts__list 
                    li.block-contacts__item 
                        span.block-contacts__text Для заказчиков:
                        .block-contacts__links
                            a(href="tel:+74995580718").block-contacts__link +7 (499) 558-07-18
                            | , 
                            a(href="mailto:answer@azone-it.com").block-contacts__link answer@azone-it.com

                    li.block-contacts__item 
                        span.block-contacts__text Для сотрудничества по рекламе и PR:
                        .block-contacts__links
                            a(href="mailto:marketing@azone-it.ru").block-contacts__link marketing@azone-it.ru

                    li.block-contacts__item 
                        span.block-contacts__text Техническая поддержка:
                        .block-contacts__links
                            a(href="tel:+74997072207").block-contacts__link +7 (499) 707-22-07

            .contacts__block.block-contacts
                .block-contacts__block
                    h3.block-contacts__title Режим работы офиса:
                    p.block-contacts__text 
                        | понедельник — четверг с 09:00 до 19:00,
                        br
                        | пятница с 09:00 до 18:00.
                .block-contacts__block 
                    h3.block-contacts__title Реквизиты компании:
                    span.block-contacts__text Скачать реквизиты по
                        a(href="https://www.azone-it.ru/sites/all/themes/blogger_theme/images/content/ooo-azone.pdf", target="_blank").block-contacts__link  ссылке

                .block-contacts__block
                    h3.block-contacts__title Социальные сети:
                    span.block-contacts__text подпишитесь на нас в 
                        a(href="https://vk.com/azoneit").block-contacts__link «ВКонтакте» 
                        | и в  
                        a(href="https://t.me/azone_it").block-contacts__link «Telegram»