section#page-hero.page-hero
    .page-hero__container
        - const contactsPage = true;
        include ../_breadcrumbs

        .page-hero__content
            h1.main-title.page-hero__title Контакты ИТ-компании «Азон»
            p.main-subtitle.page-hero__text
                | Создание решения, максимально отвечающего технологическим 
                | возможностям и&nbsp;задачам бизнеса заказчика — приоритетный 
                | элемент нашей стратегии