section.map 
    .map__container 
        h2.section-title.map__title Адреса:
        .map__body
            .address-block
                h3.address-block__title Центральный офис:
                address.address-block__address
                    img.address-block__img(src="@img/point-1.png", alt="point") 
                    span 127434, г. Москва, ул. Прянишникова, д. 23 А, этаж 2, офис 2-2-37
            .address-block
                h3.address-block__subtitle Схема проезда:
                ul.address-block__list
                    li.address-block__item от ст. м. «Дмитровская», «Войковская», трамвай №27: до остановки «Тимирязевская академия». Приблизительно 20 минут.
                    li.address-block__item от ст. м. «Водный стадион», автобус №72: до остановки «Тимирязевская академия». Приблизительно 20 минут.
                    li.address-block__item от ст. м. «Савёловская», автобусы №72, 427: до остановки «Тимирязевская академия». Приблизительно 20 минут.
                    li.address-block__item от ст. м. «Тимирязевская», автобус №72 с остановки «Префектура САО» и трамваи №27, 29 с остановки «Улица Костякова» до остановки «Тимирязевская академия». Приблизительно 10 минут.
                    li.address-block__item от ст. м. «Петровско-Разумовская», автобусы №300, 114, 204, 282, 123 до остановки «Университет природообустройства» или до остановки «Улица Лихоборские Бугры». Приблизительно 10 минут.
                    li.address-block__item от ст. МЦК «Лихоборы» двигаться по проезду Черепановых до пересечения с улицей «Лихоборские Бугры», повернуть на неё. Далее идти прямо и продолжать путь по Академическому проезду. Приблизительно 15 минут.

            .address-block
                h3.address-block__title Инженерно-технический центр (ИТЦ):
                address.address-block__address
                    img.address-block__img(src="@img/point-2.png", alt="point") 
                    span 107023, г. Москва, ул. Семёновская Б., д. 40, стр. 3
            #map.ya-map